@import "variables";

[data-demo="demo-title"] {
    padding: 0px 0;
    color:$primary-color;
    div:nth-child(1) {
        span:nth-child(1) {
            font-size: 25px;
            font-weight: 800;
            text-transform: uppercase;
            margin-right: 5px;
        }
        span:nth-child(2) {
            font-size: 25px;
            font-weight: 100;
            text-transform: uppercase;
        }
    }
    div:nth-child(2) {
        font-size: 13px;
        text-transform: uppercase;
        color:$secondary-text-color;
    }
}
