@import "variables";

[data-focus="menu-left"] {
    background-color: $primary-color;
    [data-focus="menu-brand"] {
        background: $primary-color-dark no-repeat;
        background-position: 50%;
        background-repeat: no-repeat;
    }
}
