@import "variables";

$panel-padding-sides:20px;

[data-mode="edit"] {
    [data-focus='panel'] {
        border: 3px solid $primary-color-light;
    }
}

[data-focus='panel'] {
    [data-focus='panel-title'] {
        h1,h2,h3,h4 {
            color:$primary-color;
        }
    }
    a[data-orchestra="download-link"] {
      cursor: pointer;
      text-decoration: underline;
      font-weight: bold;
      line-height: 18px;
      color: $primary-color-light;
    }

    [data-focus="panel-content"] {
        position: relative;
        //padding-top: 80px;
        .filters-bar {
            width: calc(100% + #{$panel-padding-sides * 2});
            text-align: center;
            background-color: $accent-color;
            padding-top: 20px;
            position: relative;
            margin-top: -15px;
            margin-bottom: 20px;
            margin-left: -$panel-padding-sides;

        }

        & > [data-focus='button-action']{
            color:$primary-color-text;
            background-color: $primary-color-light;
        }
    }

    h6{
      margin-top: 10px;
      margin-bottom: 0px;
    }
}
