@import "mixins";
@import "variables";

[data-orchestra='process-executions-panel']{
   [data-orchestra='execution-summary'] {
     float: left;
     margin-right: 50px;
   }
}

[data-orchestra='processExecutions-list']{
      display: flex;
      &>div[data-orchestra='panel-left']{
        min-width: 20%;
        height: 98vh;
        &>div[data-orchestra='header']{
          height: 10%;
          &>div[data-orchestra='filter']{
            text-align: center;
            padding-top: 20px;
            margin-left: -25px;
            &> button{
              margin: 0 5px;
            }
          }
        }
        &>div[data-orchestra='timeline']{
          overflow-y: scroll;
          height: 90%;
          &> ul {
            padding-left: 10px;
          }
          & .timeline-panel{
              width: auto;
          }
        }
        [data-focus='button-action']{
            color:$primary-color-text;
            background-color: $primary-color-light;
        }
      }
      & > div[data-orchestra="item-detail"]{
        div[data-focus="panel"]{
          min-height: inherit;
        }

        .mdl-tabs__tab-bar{
           height: auto;
           [data-focus='button-action']{
               color:$primary-color-text;
               background-color: $primary-color-light;
               margin: 0px 10px;
               &.active{
                 border-bottom: 2px solid white;
               }
           }
         }

         div[data-focus="panel-title"]{
           padding: 0px 16px;
         }
      }
}

[data-orchestra='status-indicator']{
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 2px 2px 0px;

  &.error{
    background-color: red;
  }
  &.done{
    background-color: green;
  }
  &.running{
    animation:runningAnimation 2s infinite;
  }
}

@keyframes runningAnimation
{
0%   {background:$primary-color;}
10%   {background:$primary-color;}
50%  {background:$primary-color-text;}
90% {background:$primary-color;}
100% {background:$primary-color;}
}


[data-orchestra='processExecutions-list'] div[data-orchestra='item-detail'] {
  min-width: 80%;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

[data-orchestra='activityExecutions-list']{
      display: flex;
      &> div[data-orchestra='timeline']{
        width: 35%;
        &> ul {
          padding-left: 50px;
        }
        & .timeline-panel{
            width: 150px;
        }
        & .timeline-date{
            margin-left: -170px;
        }
      }
      &> div[data-orchestra='detail']{
        min-width: 65%;
        height: 100%;
        padding: 0px 0px;
      }


      div[data-orchestra="json-field"] {
        margin: 2px 8px;
        padding: 0px;
        & > div[data-orchestra="json-field-label"]{
          margin: 0px 8px;
        }
        & > div[data-orchestra="json-field-value"]{
          margin: 0px 8px;
          word-wrap: break-word;
        }
      }
}

[data-orchestra='timeline'] .timeline-panel {
  cursor: pointer;
}
