@import "variables";

[data-demo="quick-search-view"] {
    h5 {
        text-align: center;
        margin: 10px 0;
    }
}

[data-focus='quick-search'] {
    [data-focus='quick-search-results'] {
        h3 {
            font-size: 22px;
            line-height: 22px;
            font-weight: 600px;
        }
        [data-focus="group-container"] {
            h3 {
                span:nth-child(2) {
                    color: $secondary-text-color;
                    &:after {
                        content: ')';
                    }
                    &:before {
                        content: '(';
                    }
                }
            }
            [data-focus='group-container-title'] {
                display: flex;
                align-items: center;

                & > div:nth-child(1) {
                    flex-grow: 4;
                }

                [data-focus='group-container-actions__right'] {
                    text-align: right;
                    flex-grow: 1;
                }
            }
        }
    }
}
