
$trailer-width: 600px;
$trailer-height: $trailer-width * (6/8);

[data-demo="trailer"] {
    text-align: center;
    iframe {
        border:1px solid #D5D5D5;
        width: $trailer-width;
        height: $trailer-height;
    }
}
