<th:block th:fragment="cards(list, componentId, rowsPerPage, showMoreLabel, selectable, rowKey, sortUrl, cardClass)" >
	<vu:collection list="${list}" componentId="${componentId}" rowsPerPage="${rowsPerPage}" showMoreLabel="${showMoreLabel}" selectable="${selectable}" rowKey="${rowKey}" sortUrl="${sortUrl}" tableClass="${tableClass}">
		<div th:v-for="|item in paginatedData('${list}', '${componentId}' )|" th::key="|item.${myRowKey}|" class="col-xl-4 col-md-6 col-xs-12" th:class="${cardClass}">
			<q-card inline color="white" class="q-ma-sm bg-white" >
				<vu:content/>
			</q-card>
		</div>
	</vu:collection>
	<q-btn color="primary" th:v-if="|componentStates.${componentId}.pagination.rowsNumber > componentStates.${componentId}.pagination.rowsPerPage|" th:label="${showMoreLabel}" th:@click="|showMore('${componentId}')|"></q-btn>
</th:block> 