<th:block th:fragment="page(content)">
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.17/dist/umd/quasar.mat.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.17/dist/umd/i18n.fr.umd.min.js"></script>
	<script th:src="@{/vertigo-ui/static/js/vertigo-ui.js}"></script>
		
	<vu:content/>
	
	<vu:vue-data/>
	<script>
		Quasar.i18n.set(Quasar.i18n.fr)
		var data = {
				  vueData : vueData,
				  componentStates : componentStates,
				  ctxId : ctxId
			  };
		var demo = new Vue({
		  el: '#page',
		  data: data,
		  methods: VUi.methods
		})
	</script>
</th:block>