<th:block th:fragment="page(title,content)">
	<vu:head title="${title}"/>
	<body class="mat desktop no-touch platform-mat">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"> </script>
		<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.16/dist/umd/quasar.mat.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.16/dist/umd/i18n.fr.umd.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
		
<div id="page" class="q-layout" v-cloak>
 <div class="q-layout">
		<!-- BEGIN HEADER-->
	<header class="q-layout-header q-layout-marginal q-layout-transition fixed-top">
		<div class="q-toolbar row no-wrap items-center relative-position q-toolbar-normal bg-primary text-white justify-between">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="row">
		<button tabindex="0" type="button" class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-btn-flat q-focusable q-hoverable q-btn-dense" aria-label="Toggle menu on left side">
		<div class="q-focus-helper"></div>
		<i aria-hidden="true" class="q-icon material-icons">menu</i>
		</button>
		<div ><img th:src="@{/static/img/logo MMC v0.1.png}" height="50px"/></div>
		<div class="q-toolbar-title">MMC Managment 	<div class="q-toolbar-subtitle"><span>Mars Mining Company</span></div></div>
	</div>
	<div>
		<input type="text"/>
		<i aria-hidden="true" class="q-icon material-icons">search</i>
	</div>
	<div>
		<button tabindex="0" type="button" class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-focusable q-hoverable bg-dark text-white q-btn-dense"><div class="q-focus-helper"></div><div class="q-btn-inner row col items-center justify-center"><i aria-hidden="true" class="q-icon material-icons">mail</i><div class="q-chip row no-wrap inline items-center q-chip-floating q-chip-dense q-chip-square bg-red text-white"><div class="q-chip-main ellipsis">22</div></div></div></button>

		<button tabindex="0" type="button" class="q-btn inline relative-position q-btn-item non-selectable q-btn-rectangle q-focusable q-hoverable bg-primary text-white q-btn-dropdown q-btn-dropdown-simple cursor-pointer">
		<div class="q-focus-helper"></div>
		<div class="q-btn-inner row col items-center justify-center">
			<img th:src="@{/static/img/woman.png}" class="avatar">
			<div>Daniel Johnson<br/><small>Administrator</small></div><i aria-hidden="true" class="q-icon transition-generic material-icons on-right q-btn-dropdown-arrow">arrow_drop_down</i>
			</div></button>
					
		<button tabindex="0" type="button" class="q-btn inline relative-position q-btn-item non-selectable q-btn-round q-btn-flat q-focusable q-hoverable q-btn-dense" aria-label="Toggle menu on left side">
		<div class="q-focus-helper"></div>
		<div class="q-btn-inner row col items-center justify-center">
		<i aria-hidden="true" class="q-icon material-icons">more_vert</i>
		</div>
		</button>		
	</div>
	</div>
	</header>
	<!-- END HEADER-->
	
  <!-- sub-routes get injected here: -->
  <div>
  <br/><br/><br/><br/>
  	<p th:text="${uiMessageStack.objectFieldErrors}" th:if="${uiMessageStack.hasErrors()}"></p>
   <vu:content/>
  </div>
</div>
		<vu:vue-data/>
		<script>
			Quasar.i18n.set(Quasar.i18n.fr)
			var data = {
					  vueData : vueData,
					  componentStates : componentStates,
					  ctxId : ctxId
				  };
			var demo = new Vue({
			  el: '#page',
			  data: data,
			  methods: {
				transformListForSelection: function (list, valueField, labelField) {
					return this.$data.vueData[list].map(function (object) {
						return { value: object[valueField], label: object[labelField].toString()} // a label is always a string
					});
				},
				transformListForStaticSelection: function (list, valueField, labelField) {
					var finalList =  this.$data.vueData[list].map(function (object) {
						return { value: object[valueField], label: object[labelField].toString()} // a label is always a string
					});
					return {field : 'label', list : finalList}
				},
				request : function (params) {
					var pagination = params.pagination;
					var filter = params.filter;
					var oldPagination = componentStates[pagination.componentId].pagination;
					if (oldPagination.sortBy != pagination.sortBy ||  oldPagination.descending != pagination.descending ) {
						// it's a sort order call the server
						pagination.page = 1 //reset pagination
						this.$http.post(pagination.sortUrl, { sortFieldName : pagination.sortBy, sortDesc : pagination.descending, CTX: this.$data.ctxId}, { emulateJSON: true }).then( function (response ) {
							vueData[pagination.listKey] = response.body[pagination.listKey];
							this.$data.ctxId = response.body['CTX'];
						});
					}
						// otherwise it's pagination or filter : do it locally
						// nothing to do everything is done by the paginatedData function
					componentStates[pagination.componentId].pagination = pagination;
				},
				paginatedData: function (list, componentId) {
					var pagination = componentStates[componentId].pagination;
					if (pagination.rowsPerPage != 0) { // not all
						var firstRowIndex = (pagination.page - 1) * pagination.rowsPerPage;
						var lastRowIndex = pagination.page * pagination.rowsPerPage;
						return this.$data.vueData[list].slice(firstRowIndex, lastRowIndex);
					}
					return this.$data.vueData[list];
				},
				selectedFunction : function (object, field, item, keyboard) {
					this.$data.vueData[object][field] = item.value;
				},
				searchAutocomplete : function (list, valueField, labelField, url, terms, done) {
					this.$http.post(url, {terms: terms, list : list , valueField : valueField,labelField : labelField, CTX: this.$data.ctxId}, { emulateJSON: true }).then( function (response ) {
						var finalList =  response.body.map(function (object) {
							return { value: object[valueField], label: object[labelField].toString()} // a label is always a string
						});
						done(finalList);
					}, 
					function (response) {
						this.$q.notify(response.status + ":" +response.statusText);
						done([]);
					});
					
				},
				formatDate : function (object, field, newValue, format) {
					this.$data.vueData[object][field] = Quasar.utils.date.formatDate(newValue, format);
				},
				parseDate : function (object, field, format) {
					var parts = this.$data.vueData[object][field].match(/(\d+)/g);
					var i=0;
					var fmt={};
					format.replace(/(YYYY|MM|DD)/g, function(part) { fmt[part] = i++; });
					return Quasar.utils.date.buildDate({year :parts[fmt['YYYY']], month :parts[fmt['MM']], date : parts[fmt['DD']]});
				},
				formatDateTime : function (object, field, newValue, format) {
					this.$data.vueData[object][field] = Quasar.utils.date.formatDate(newValue, format);
				},
				parseDateTime : function (object, field, format) {
					var parts = this.$data.vueData[object][field].match(/(\d+)/g);
					var i=0;
					var fmt={};
					format.replace(/(YYYY|MM|DD|HH|mm)/g, function(part) { fmt[part] = i++; });
					return Quasar.utils.date.buildDate({year :parts[fmt['YYYY']], month :parts[fmt['MM']], date : parts[fmt['DD']], date : parts[fmt['DD']], hours : parts[fmt['HH']], minutes : parts[fmt['mm']]});
				},
				openModal : function (modalId, url, params) {
					if (url) {
						var finalUrl = url;
						if (params && Object.keys(params).length > 0) {
							var paramsString = Object.keys(params).map(function(key){
							    return key + '=' + params[key] ;
							}).join("&");
							finalUrl = finalUrl + '?' + paramsString;
						}
						this.$data.componentStates[modalId].srcUrl = finalUrl;
					}
					this.$data.componentStates[modalId].opened = true;
				}
			  }
			})
		</script>
		</div>
	</body>
</th:block>
