bin/
trash/
target/
.classpath
.project
*/.settings/
*.prefs
*.jar
.settings/
*.iml
*.idea
.metadata/*
*/node_modules/*
vertigo-release/
vertigo-x-release/
mvn-release.txt
createSymLink.bat
.factorypath
node_modules
dist