<th:block th:fragment="autocomplete-edit(object, field, label, list, valueField, labelField, componentId, label_attrs, input_attrs)" vu:alias="autocomplete" vu:selector="${viewMode=='edit'}"
	  th:assert="${object} != null and ${field} != null and ${list} != null"
	  th:with="myValueField=${valueField != null ? valueField : model.util.getIdField(list)}, myLabelField=${labelField != null ? labelField : model.util.getDisplayField(list)}, value=${model.vContext[__${object}__].getTypedValue('__${field}__')}, myComponentId=${componentId != null ? componentId : list + '_' + object + '_' + field}, myLabel=${label?:model.util.label(object + '.' + field)}">
	<th:block th:with="valueLabel=${value != null ? model.vContext[__${list}__].getById('__${myValueField}__', value)['__${myLabelField}__'] : ''}"
		th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addList('options').add( { 'value' : value, 'label': valueLabel})}" />
	<vu:include-data object="${object}" field="${field}"/>
	<vu:include-data object="${list}" field="${myValueField}"/>
	<vu:include-data object="${list}" field="${myLabelField}"/>
	<q-select
       	th:v-model="|vueData.${object}.${field}|"
       	th::label-width="${overridedLabelWidth?:3}"
		th:label="${myLabel}"
		th::error="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__')}"
		th:error-label="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__') ? uiMessageStack.objectFieldErrors[__${object}__][__${field}__] : ''}"
		th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
		orientation="vertical"
		hide-dropdown-icon
		stack-label
        use-input 
        fill-input
        hide-selected
        map-options
        input-debounce="300"
        emit-value
        th::options="|componentStates.${myComponentId}.options|"
        th:@filter="|function (val, update, abort) { searchAutocomplete('${list}', '${myValueField}', '${myLabelField}', '${myComponentId}', '@{/autocomplete/_searchFullText}', val, update, abort)}|"
        th:attr="__${input_attrs}__"
     ></q-select>
	<input type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="|vueData.${object}.${field}|" />
</th:block> 

<th:block th:fragment="autocomplete-read(object, field, label, list, valueField, labelField, label_attrs, input_attrs)" vu:alias="autocomplete" vu:selector="${viewMode=='read'}" >
	<vu:select-read object="${object}" field="${field}" label="${label}" list="${list}" valueField="${valueField}" labelField="${labelField}" />
</th:block>