<th:block th:fragment="checkbox-edit(object, field, label, required, label_attrs, input_attrs)" vu:alias="checkbox" vu:selector="${viewMode=='edit'}" 
	  th:assert="${object} != null and ${field} != null"
	  th:with="myRequired=${required != null ? required : model.util.required(object + '.' + field)}">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<vu:label-edit object="${object}" field="${field}" label="${label}" required="${myRequired}" label_attrs="${label_attrs}">
		<q-checkbox 
			th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
			dense
			th:attr="__${input_attrs}__"
			 >
		</q-checkbox>
	</vu:label-edit>
	<input type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" th:v-bind:value="${model.util.vueDataKey(object, field, rowIndex)}" />
</th:block> 

<th:block th:fragment="checkbox-read(object, field, label, required, label_attrs, input_attrs)" vu:alias="checkbox" vu:selector="${viewMode=='read'}" >
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label-read object="${object}" field="${field}" label="${label}" label_attrs="${label_attrs}">
		<q-checkbox 
			disable
			th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
			dense
			th:attr="__${input_attrs}__"  
			>
		</q-checkbox>
	</vu:label-read>
</th:block>