<th:block th:fragment="chips-autocomplete-edit(object, field, label, list, valueField, componentId, staticData,label_attrs, input_attrs)" vu:alias="chips-autocomplete" vu:selector="${viewMode=='edit'}"
	  th:assert="${object} != null and ${field} != null and ${list} != null"
	  th:with="myValueField=${valueField != null ? valueField : model.util.getDisplayField(list)}, value=${model.vContext[__${object}__][__${field}__]}, myStaticData=${staticData?:true},myComponentId=${componentId != null ? componentId : list + '_' + object + '_' + field}, myLabel=${label?:model.util.label(object + '.' + field)}"
	  th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addList('options')}" >
	<vu:include-data object="${object}" field="${field}"/>
	<vu:include-data th:if="${staticData}" object="${list}" field="${myValueField}"/>
	<q-select th:if="${!myStaticData}"
       	th:v-model="|vueData.${object}.${field}|"
		th:label="${myLabel}"
		th::error="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__')}"
		th:error-message="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__') ? uiMessageStack.objectFieldErrors[__${object}__][__${field}__] : ''}"
		th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
		orientation="vertical"
		multiple
		hide-dropdown-icon
		stack-label
        use-input 
        use-chips
        fill-input
        hide-selected
        new-value-mode="add-unique"
        input-debounce="300"
        th::options="|componentStates.${myComponentId}.options|"
        th:@filter="|function (val, update, abort) { searchAutocomplete('${list}', '${myValueField}', '${myLabelField}', '${myComponentId}', '@{/autocomplete/_searchFullText}', val, update, abort)}|"
        th:attr="__${input_attrs}__"
     ></q-select>
     <q-select th:if="${myStaticData}"
       	th:v-model="|vueData.${object}.${field}|"
		th:label="${myLabel}"
		th::error="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__')}"
		th:error-message="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__') ? uiMessageStack.objectFieldErrors[__${object}__][__${field}__] : ''}"
		th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
		orientation="vertical"
		multiple
		hide-dropdown-icon
		stack-label
        use-input 
        use-chips
        new-value-mode="add-unique"
        input-debounce="0"
        th::options="|transformListForSelection('${list}', '${myValueField}', '${myValueField}')|"
        th:attr="__${input_attrs}__"
     ></q-select>
	<input th:v-for="|id in vueData.${object}.${field}|" type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="id" />
	<input th::v-if="|vueData.${object}.${field}.length == 0|" type="hidden" th:name="|vContext[${object}][${field}]|" value="" />
</th:block> 

<th:block th:fragment="chips-autocomplete-read(object, field, label, list, valueField, staticData, label_attrs, input_attrs)" vu:alias="chips-autocomplete" vu:selector="${viewMode=='read'}"
	th:with="myLabel=${label?:model.util.label(object + '.' + field)}" >
	<vu:include-data object="${object}" field="${field}"/>
	<q-select 
       	th:v-model="|vueData.${object}.${field}|"
		th:label="${myLabel}"
		orientation="vertical"
		multiple
		stack-label
		hide-dropdown-icon
		borderless
        use-chips
        readonly
        th:attr="__${input_attrs}__"
     ></q-select>
</th:block>