<th:block th:fragment="date-edit(object, field, label, componentId, date_attrs, input_attrs)" vu:alias="date" vu:selector="${viewMode=='edit'}"
		th:with="myLabel=${label?:model.util.label(object + '.' + field)}, myComponentId=${componentId != null ? componentId : 'date' + '_' + object + '_' + field}"
	  th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}"/>
	<q-input 
		th:v-bind:value="|decodeDate('${object}', '${field}', 'DD/MM/YYYY')|" 
		th:@change="|function (event) { encodeDate('${object}','${field}', event.target.value, 'DD/MM/YYYY') }|" 
		th:label="${myLabel}"
		th::error="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__')}"
		th:error-message="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__') ? uiMessageStack.objectFieldErrors[__${object}__][__${field}__] : ''}"
		th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
		th:attr="__${input_attrs}__" >
     	<q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" >
             <q-date 
             	th:v-model="|vueData.${object}.${field}|"
             	landscape
             	mask="DD/MM/YYYY"
             	th:attr="__${date_attrs}__"></q-date> 
       	</q-popup-proxy>
    </q-input>
	<input type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="|vueData.${object}.${field}|" />
</th:block> 

<th:block th:fragment="date-read(object, field, label, date_attrs, input_attrs)" vu:alias="date" vu:selector="${viewMode=='read'}" >
	<vu:text-field-read object="${object}" field="${field}" label="${label}" />
</th:block>