<th:block th:fragment="date-edit(object, field, label, format, date_attrs, input_attrs)" vu:alias="date" vu:selector="${viewMode=='edit'}"
		th:with="myLabel=${label?:model.util.label(object + '.' + field)}, myFormat=${format?:'DD/MM/YYYY'},
      required=${model.util.required(object + '.' + field)},myRef='date_'+${object} + '_' + ${field}"
	  th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<q-input 
		th:v-bind:model-value="|decodeDate(${model.util.vueDataKey(object, field, rowIndex)}, '${myFormat}')|" 
		th:@update:model-value="|function (newValue) { ${model.util.vueDataKey(object, field, rowIndex)} = encodeDate(newValue, '${myFormat}') }|" 
		th:label="${modifiableTable!=null?null:myLabel}"
		stack-label
		th:classappend="${required}?'v-field__required'"
        th:aria-required="${required}"
		th::error="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
		th::error-message="|getErrorMessage('${object}', '${field}', ${rowIndex})|"
		th:attr="__${input_attrs}__" >
		<template v-slot:prepend>
			<q-icon name="event" class="cursor-pointer">
				<q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" th:attr="ref=__${myRef}__" >
		             <q-date 
		             	th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
		             	:landscape="$q.screen.gt.xs"
		             	mask="DD/MM/YYYY"
		             	th:@update:model-value="|() => $refs.${myRef}.hide()|"
		             	th:attr="__${date_attrs}__"></q-date> 
	       		</q-popup-proxy>
	       	</q-icon>
       	</template>
    </q-input>
	<input type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" th:v-bind:value="${model.util.vueDataKey(object, field, rowIndex)}" />
   
</th:block> 

<th:block th:fragment="date-read(object, field, label, format, date_attrs, input_attrs)" vu:alias="date" vu:selector="${viewMode=='read'}" >
	<vu:text-field-read object="${object}" field="${field}" label="${label}" input_attrs="${input_attrs}" />
</th:block>