<th:block th:fragment="datetime-edit(object, field, label, format, required, date_attrs, edit_content_slot, date_content_slot, time_content_slot, after_label_slot, time_attrs, input_attrs)" vu:alias="datetime" vu:selector="${viewMode=='edit'}"
        th:with="myLabel=${modifiableTable!=null?null:label?:model.util.label(object + '.' + field)}, myFormat=${format?:'DD/MM/YYYY HH:mm'},
      myRequired=${required != null ? required : model.util.required(object + '.' + field)},
      myRef=${object} + '_' + ${field}"
      th:assert="${object} != null and ${field} != null">
    <vu:include-data object="${object}" field="${field}" modifiable="true"/>
    <q-input 
        th:v-bind:value="|decodeDatetime(${model.util.vueDataKey(object, field, rowIndex)}, '${myFormat}')|" 
        th:@change="|function (event) { ${model.util.vueDataKey(object, field, rowIndex)} = encodeDateTime(event.target.value, '${myFormat}') }|" 
        th:label="${myLabel}"
        stack-label
        th:classappend="|${myRequired?'v-field_'+'_required':''}${after_label_slot!=null?' v-field_'+'_has_after_label':''}|"
        th::error="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
        th::error-message="|getErrorMessage('${object}', '${field}', ${rowIndex})|"
        th:attr="__${input_attrs}__" >
        <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" th:attr="ref=datetime_D__${myRef}__">
                      <q-date 
                        th:v-model="|${model.util.vueDataKey(object, field, rowIndex)}|" 
                        :landscape="$q.screen.gt.xs"
                        mask="DD/MM/YYYY HH:mm"
                        th:@input="|() => $refs.datetime_D${myRef}.hide()|"
                        th:attr="__${date_attrs}__"><vu:content-slot name="date_content_slot"/></q-date> 
                </q-popup-proxy>
             </q-icon>
        </template>
        <template v-slot:append>
            <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" th:attr="ref=datetime_T__${myRef}__">
                       <q-time 
                            th:v-model="|${model.util.vueDataKey(object, field, rowIndex)}|"
                            :landscape="$q.screen.gt.xs"
                            mask="DD/MM/YYYY HH:mm"
                            th:@input="|() => $refs.datetime_T${myRef}.hide()|"
                            format24h
                            th:attr="__${time_attrs}__" ><vu:content-slot name="time_content_slot"/></q-time>
                </q-popup-proxy>
            </q-icon>
        </template>
        <vu:quasar-label-slot label="${myLabel}" after_label_slot="after_label_slot"/>
        <vu:content-slot name="edit_content_slot"/>
    </q-input>
    <input type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" th:v-bind:value="${model.util.vueDataKey(object, field, rowIndex)}" />
</th:block> 

<th:block th:fragment="datetime-read(object, field, label, format, required, edit_content_slot, date_content_slot, time_content_slot, after_label_slot, date_attrs, time_attrs, input_attrs)" vu:alias="datetime" vu:selector="${viewMode=='read'}" >
    <vu:text-field-read object="${object}" field="${field}" label="${label}" after_label_slot="after_label_slot" input_attrs="${input_attrs}"/>
</th:block>