<th:block th:fragment="fileupload(url, key, multiple, uploader_attrs)" 
	th:assert="${key} != null and ${url} != null"
	th:with="myComponentId='uploader'+${key}"
	th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addList('fileUris')}" >
		<input type="hidden" th:name="|${key}|" th:v-bind:value="|componentStates.${myComponentId}.fileUris|" />
		<q-uploader th:url="${url}"
			field-name="file"
			auto-upload
			auto-expand
			th::multiple="${multiple}"
			th::ref="|'${myComponentId}'|"
			:form-fields="[{name:'CTX', value:vueData.CTX}]"
			th:@added="|uploader_addedFile(${multiple}, '${myComponentId}')|"
			th:@uploaded="|uploader_uploadedFiles($event, '${myComponentId}')|"
			th:@removed="|uploader_removeFiles($event, '${myComponentId}')|"
			 th:attr="__${uploader_attrs}__">
		</q-uploader>
</th:block>
