<th:block th:fragment="fileupload(url, key, multiple, uploader_attrs)" 
	th:assert="${key} != null and ${url} != null"
	th:with="myComponentId='uploader'+${key}"	>
		<vu:include-data-primitive th:key="${key}"/>
        <input type="hidden" th:v-if="|vueData.${key}.length == 0|" th:name="|vContext[${key}]|" value="" />
        <input type="hidden" th:v-for="|fileUri in vueData.${key}|" th:name="|vContext[${key}]|" v-bind:value="fileUri" />
        <q-uploader th:url="${url}"
            auto-upload
            field-name="file"
			th::multiple="${multiple}"
			th::ref="|'${myComponentId}'|"
			:headers="[{name: 'Accept', value: 'application/json'}]"
			th:@hook:mounted="|uploader_mounted('${myComponentId}', '${key}')|"
            th:@added="|uploader_addedFile(${multiple}, '${myComponentId}', '${key}')|"
            th:@uploaded="|uploader_uploadedFiles($event, '${key}')|"
            th:@failed="|uploader_failedFiles($event)|"
            th:@removed="|uploader_removeFiles($event, '${myComponentId}', '${key}')|"
			th:attr="__${uploader_attrs}__">
		</q-uploader>
</th:block>
<th:block th:fragment="fileupload-dropzone(key, dropzone_attrs)" 
    th:assert="${key} != null"
    th:with="myComponentId='uploader'+${key}+'drop',fileComponentId='uploader'+${key}"
    th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addPrimitive('dragover',false)}" >
        <div class="dropzone-area" 
            th:@dragenter.prevent="|uploader_dragenter('${myComponentId}')|"
            th:attr="__${dropzone_attrs}__">
	        <vu:content/>
	        <div th:v-if="|componentStates.${myComponentId}.dragover|" class="absolute-full q-uploader__dnd"
	        th:@dragleave.prevent="|uploader_dragleave('${myComponentId}')|"
	        th:@drop.prevent="'uploader_dragleave(\''+${myComponentId}+'\'); uploader_drop($event, \''+${fileComponentId}+'\')'"
            @dragover.prevent 
            ></div>
        </div>
</th:block>
<th:block th:fragment="fileupload-simple(url, key, multiple, uploader_attrs)" 
    th:assert="${key} != null and ${url} != null"
    th:with="myComponentId='uploaderSimple'+${key}" >
        <vu:include-data-primitive th:key="${key}"/>
        <input type="hidden" th:v-if="|vueData.${key}.length == 0|" th:name="|vContext[${key}]|" value="" />
        <input type="hidden" th:v-for="|fileUri in vueData.${key}|" th:name="|vContext[${key}]|" v-bind:value="fileUri" />
        <q-uploader th:url="${url}"
            auto-upload
            field-name="file"
            th::multiple="${multiple}"
            th::ref="|'${myComponentId}'|"
            :headers="[{name: 'Accept', value: 'application/json'}]"
            th:@hook:mounted="|uploader_mounted('${myComponentId}', '${key}')|"
            th:@added="|uploader_addedFile(${multiple}, '${myComponentId}', '${key}')|"
            th:@uploaded="|uploader_uploadedFiles($event, '${key}')|"
            th:@failed="|uploader_failedFiles($event)|"
            th:@removed="|uploader_removeFiles($event, '${myComponentId}', '${key}')|"
            th:attr="__${uploader_attrs}__">
            <template v-slot:header="slotProps"></template> 
            <template v-slot:list="slotProps">
               <div class="row">
               <q-field :label-width="3"
				        :label="slotProps.label"
				        class="col"
				        orientation="vertical"
				        stack-label
				        borderless>				        
			        <template v-slot:control>
                      <div class="col column justify-center">
                        <div th:v-for="'file in slotProps.files'"
                              :key="file.name"
                              class="q-uploader__file relative-position" 
                              :class="{'q-uploader__file--failed': file.__status === 'failed',
                                     'q-uploader__file--uploaded': file.__status === 'uploaded'}">
                             <div class="q-uploader__file-header row flex-center no-wrap">
                                 <q-icon v-if="file.__status === 'failed'" class="q-uploader__file-status" :name="$q.iconSet.type.negative" color="negative"></q-icon>
                                 <q-icon class="q-uploader__file-status" 
                                     :name="file.type.indexOf('video/') === 0 ? 'movie': 
                                     (file.type.indexOf('image/') === 0 ? 'photo' :
                                     (file.type.indexOf('audio/') === 0 ? 'audiotrack' : 'insert_drive_file'))" ></q-icon>
                                 <div class="q-uploader__file-header-content col">
                                   <div class="q-uploader__title">{{file.name}}</div>
                                 </div>
                                 <q-circular-progress v-if="file.__status === 'uploading'" :value="file.__progress" :min="0" :max="1" :indeterminate="file.__progress === 0"></q-circular-progress>
                                 <q-btn v-if="file.__status != 'uploading'" round dense flat :icon="$q.iconSet.uploader[file.__status === 'uploaded' ? 'done' : 'clear']" 
                                 @click="slotProps.removeFile(file)"></q-btn>                      
                             </div>
                         </div>
                      </div>
			        </template> 
                 </q-field>
			          <div class="q-field__after q-field__marginal row no-wrap items-center">
		                     <q-spinner v-if="slotProps.isUploading" class="q-uploader__spinner"></q-spinner> 
		                     <q-btn v-if="slotProps.canAddFiles" type="a" :icon="$q.iconSet.uploader.add" flat dense>
		                         <q-uploader-add-trigger></q-uploader-add-trigger>
		                         <q-tooltip>{{$q.lang.vui.uploader.add}}</q-tooltip>
		                     </q-btn>
		                     <q-btn v-if="slotProps.hideUploadBtn === false && slotProps.canUpload === true" type="a" :icon="$q.iconSet.uploader.upload" flat dense 
		                          @click="slotProps.upload">
		                         <q-tooltip>{{$q.lang.vui.uploader.upload}}</q-tooltip>
		                     </q-btn>
		                     <q-btn v-if="slotProps.isUploading" type="a" :icon="$q.iconSet.uploader.clear" flat dense 
		                          @click="slotProps.abort">
		                         <q-tooltip>{{$q.lang.vui.uploader.clear}}</q-tooltip>
		                     </q-btn>
		                </div>
                 </div>
            </template>   
        </q-uploader>
</th:block>
<th:block th:fragment="fileupload-simple-object(url, object, field, fileInfoKey, multiple, uploader_attrs)" 
    th:assert="${object} != null and ${field} != null and ${url} != null and ${fileInfoKey} != null"
    th:with="myComponentId='uploaderSimple'+${object}+'_'+${field}" >
        <vu:include-data-primitive th:key="${fileInfoKey}"/>
        <vu:include-data th:object="${object}" th:field="${field}"/>
        <input type="hidden" th:v-for="|fileUri in vueData.${object}.${field}|" th:name="|vContext[${object}][${field}]|" th:v-bind:value="fileUri" />
        <q-uploader th:url="${url}"
            auto-upload
            field-name="file"
            th::multiple="${multiple}"
            th::ref="|'${myComponentId}'|"
            :headers="[{name: 'Accept', value: 'application/json'}]"
            :form-fields="[{name:'CTX', value:vueData.CTX}]"
            @hook:mounted="uploader_changeIcon();"
            th:@added="|uploader_addedFile(${multiple}, '${myComponentId}', '${fileInfoKey}')|"
            th:@uploaded="|uploader_uploadedFiles($event, '${myComponentId}','${fileInfoKey}')|"
            th:@failed="|uploader_failedFiles($event, '${myComponentId}','${fileInfoKey}')|"
            th:@removed="|uploader_removeFiles($event, '${myComponentId}','${fileInfoKey}')|"
            th:attr="__${uploader_attrs}__">
            <template v-slot:header="slotProps"></template> 
            <template v-slot:list="slotProps">
               <div class="row">
               <q-field :label-width="3"
                        :label="slotProps.label"
                        class="col"
                        orientation="vertical"
                        stack-label
                        borderless>                     
                    <template v-slot:control>
                      <div class="col column justify-center">
                        <div th:v-for="'file in vueData.'+${fileInfoKey}+'.concat(slotProps.files)'"
                              th:v-if="'file.\_\_status != \'uploaded\' || '+'(!file.\_\_sizeLabel && vueData.'+${object}.${field}+'.includes(file.fileUri))'"
                              :key="file.name"
                              class="q-uploader__file relative-position" 
                              :class="{'q-uploader__file--failed': file.__status === 'failed',
                                     'q-uploader__file--uploaded': file.__status === 'uploaded'}">
                             <div class="q-uploader__file-header row flex-center no-wrap">
                                 <q-icon v-if="file.__status === 'failed'" class="q-uploader__file-status" :name="$q.iconSet.type.negative" color="negative"></q-icon>
                                 <q-icon class="q-uploader__file-status" 
                                     :name="file.type.indexOf('video/') === 0 ? 'movie': 
                                     (file.type.indexOf('image/') === 0 ? 'photo' :
                                     (file.type.indexOf('audio/') === 0 ? 'audiotrack' : 'insert_drive_file'))" ></q-icon>
                                 <div class="q-uploader__file-header-content col">
                                   <div class="q-uploader__title">{{file.name}}</div>
                                 </div>
                                 <q-circular-progress v-if="file.__status === 'uploading'" :value="file.__progress" :min="0" :max="1" :indeterminate="file.__progress === 0"></q-circular-progress>
                                 <q-btn v-if="file.__status != 'uploading'" round dense flat :icon="$q.iconSet.uploader[file.__status === 'uploaded' ? 'done' : 'clear']" 
                                 @click="slotProps.removeFile(file)"></q-btn>                      
                             </div>
                         </div>
                      </div>
                    </template> 
                 </q-field>
                      <div class="q-field__after q-field__marginal row no-wrap items-center">
                             <q-spinner v-if="slotProps.isUploading" class="q-uploader__spinner"></q-spinner> 
                             <q-btn v-if="slotProps.canAddFiles" type="a" :icon="$q.iconSet.uploader.add" flat dense>
                                 <q-uploader-add-trigger></q-uploader-add-trigger>
                                 <q-tooltip>{{$q.lang.vui.uploader.add}}</q-tooltip>
                             </q-btn>
                             <q-btn v-if="slotProps.hideUploadBtn === false && slotProps.canUpload === true" type="a" :icon="$q.iconSet.uploader.upload" flat dense 
                                  @click="slotProps.upload">
                                 <q-tooltip>{{$q.lang.vui.uploader.upload}}</q-tooltip>
                             </q-btn>
                             <q-btn v-if="slotProps.isUploading" type="a" :icon="$q.iconSet.uploader.clear" flat dense 
                                  @click="slotProps.abort">
                                 <q-tooltip>{{$q.lang.vui.uploader.clear}}</q-tooltip>
                             </q-btn>
                        </div>
                 </div>
            </template>   
        </q-uploader>
</th:block>
<th:block th:fragment="fileupload-custom(url, key, multiple, uploader_attrs)" 
    th:assert="${key} != null and ${url} != null"
    th:with="myComponentId='uploaderCustom'+${key}" >
        <vu:include-data-primitive th:key="${key}"/>
        <input type="hidden" th:v-if="|vueData.${key}.length == 0|" th:name="|vContext[${key}]|" value="" />
        <input type="hidden" th:v-for="|fileUri in vueData.${key}|" th:name="|vContext[${key}]|" v-bind:value="fileUri" />
        <q-uploader th:url="${url}"
            auto-upload
            field-name="file"
            th::multiple="${multiple}"
            th::ref="|'${myComponentId}'|"
            :headers="[{name: 'Accept', value: 'application/json'}]"
            th:@hook:mounted="|uploader_mounted('${myComponentId}', '${key}')|"
            th:@added="|uploader_addedFile(${multiple}, '${myComponentId}', '${key}')|"
            th:@uploaded="|uploader_uploadedFiles($event, '${key}')|"
            th:@failed="|uploader_failedFiles($event)|"
            th:@removed="|uploader_removeFiles($event, '${myComponentId}', '${key}')|"
            th:attr="__${uploader_attrs}__">
            <template v-slot:header="slotProps">
		            <div class="q-uploader__header-content flex flex-center no-wrap q-gutter-xs">
			            <q-btn v-if="slotProps.queuedFiles.length > 0" type="a" :icon="$q.iconSet.uploader.clear_all" flat dense @click="slotProps.removeQueuedFiles">
			               <q-tooltip>{{$q.lang.vui.uploader.clear_all}}</q-tooltip>
			            </q-btn>
	                    <q-btn v-if="slotProps.uploadedFiles.length > 0" type="a" :icon="$q.iconSet.uploader.removeUploaded" flat dense @click="slotProps.removeUploadedFiles">
	                       <!-- q-tooltip>{{$q.lang.vui.uploader.removeUploaded}}</q-tooltip -->
	                    </q-btn>
	                    <q-spinner v-if="slotProps.isUploading" class="q-uploader__spinner"></q-spinner>
	                    <div class="col column justify-center">
	                      <div v-if="slotProps.label !== void 0" class="q-uploader__title">{{slotProps.label}}</div>
			              <div class="q-uploader__subtitle">{{slotProps.uploadSizeLabel}} / {{slotProps.uploadProgressLabel}}</div>
			            </div>
			            <q-btn v-if="slotProps.canAddFiles" type="a" :icon="$q.iconSet.uploader.add" flat dense>
				            <q-uploader-add-trigger></q-uploader-add-trigger>
                            <q-tooltip>{{$q.lang.vui.uploader.add}}</q-tooltip>
	                    </q-btn>
			            <q-btn v-if="slotProps.hideUploadBtn === false && slotProps.canUpload === true" type="a" :icon="$q.iconSet.uploader.upload" flat dense @click="slotProps.upload">
			                <q-tooltip>{{$q.lang.vui.uploader.upload}}</q-tooltip>
			            </q-btn>
	                    <q-btn v-if="slotProps.isUploading" type="a" :icon="$q.iconSet.uploader.clear" flat dense @click="slotProps.abort">
	                        <q-tooltip>{{$q.lang.vui.uploader.clear}}</q-tooltip>
	                    </q-btn>                    
		            </div>
            </template> 
            <template v-slot:list="slotProps">
	             <div th:v-for="'file in slotProps.files'"
	            :key="file.name"
	            class="q-uploader__file relative-position" 
	            :class="{ 'q-uploader__file' : true,  'relative-position' : true, 
	            'q-uploader__file--img': this.noThumbnails !== true && file.__img !== void 0,
	                        'q-uploader__file--failed': file.__status === 'failed',
	                        'q-uploader__file--uploaded': file.__status === 'uploaded'}"
	            :style="slotProps.noThumbnails !== true && file.__img !== void 0 ? {backgroundImage: 'url(&quot;' + file.__img.src + '&quot;)'} : null">
	                <div class="q-uploader__file-header row flex-center no-wrap">
	                    <q-icon v-if="file.__status === 'failed'" class="q-uploader__file-status" :name="$q.iconSet.type.negative" color="negative"></q-icon>
	                    <div class="q-uploader__file-header-content col">
	                      <div class="q-uploader__title">{{file.name}}</div>
	                      <div class="q-uploader__subtitle row items-center no-wrap" v-if="file.__status != 'uploaded'"> {{file.__sizeLabel}} / {{file.__progressLabel}}</div>
	                      <div class="q-uploader__subtitle row items-center no-wrap" v-if="file.__status === 'uploaded'"> {{uploader_humanStorageSize(file.size)}}</div>
                        </div>
	                    <q-circular-progress v-if="file.__status === 'uploading'" :value="file.__progress" :min="0" :max="1" :indeterminate="file.__progress === 0"></q-circular-progress>
	                    <q-btn v-if="file.__status != 'uploading'" round dense flat :icon="$q.iconSet.uploader[file.__status === 'uploaded' ? 'done' : 'clear']" 
	                    @click="slotProps.removeFile(file)">
	                       <q-tooltip>{{$q.lang.vui.uploader[file.__status === 'uploaded' ? 'remove' : 'clear']}}</q-tooltip>
	                    </q-btn>                      
	                </div>
	            </div>
            </template>   
        </q-uploader>            
</th:block>
