<th:block th:fragment="text-area-edit(object, field, label, input_attrs, label_attrs)" 
	vu:alias="text-area" vu:selector="${viewMode=='edit'}"
	th:with="myLabel=${label?:model.util.label(object + '.' + field)}, required=${model.util.required(object + '.' + field)}"
	th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
		<q-input 
			autogrow
			th:v-model="${'vueData.' + object + '.' + field}" 
			th:name="${'vContext['+object+']['+ field +']'}"
			th::label-width="${overridedLabelWidth?:3}"
			th:label="${myLabel}"
            th:classappend="${required}?'v-field__required'"
			th::error="|hasFieldsError('${object}', '${field}')|"
			th::error-message="|getErrorMessage('${object}', '${field}')|"
			th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
			orientation="vertical"
			stack-label
			th:attr="__${label_attrs}__,__${input_attrs}__"
		>
		</q-input>
</th:block>
<th:block th:fragment="text-area-read(object, field, label, input_attrs, label_attrs)" 
	vu:alias="text-area" vu:selector="${viewMode=='read'}"
	th:assert="${object} != null and ${field} != null"
	th:with="myLabel=${label?:model.util.label(object + '.' + field)}" >
	<vu:include-data object="${object}" field="${field}"/>
	<q-input 
			autogrow
			th:v-model="${'vueData.' + object + '.' + field}" 
			th:name="${'vContext['+object+']['+ field +']'}"
			th:label="${myLabel}"
			orientation="vertical"
			stack-label
			borderless
			th:attr="__${label_attrs}__,__${input_attrs}__"
		>
		</q-input>
</th:block>