<th:block th:fragment="text-editor-edit(object, field, rowIndex, input_attrs)" 
	vu:alias="text-editor" vu:selector="${viewMode=='edit'}"
	th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
		<q-editor  
			th:v-model="${model.util.vueDataKey(object, field, rowIndex)}" 
			th::class="|{'q-editor--error':hasFieldsError('${object}', '${field}', ${rowIndex})}|"
			th:attr="__${input_attrs}__" >
		</q-editor>
		<div th:v-if="|hasFieldsError('${object}', '${field}', ${rowIndex})|" role="alert" class="text-negative" 
		      th:text="|{{getErrorMessage('${object}', '${field}', ${rowIndex})}}|"></div>
		<input type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" th::value="${model.util.vueDataKey(object, field, rowIndex)}"  />
</th:block>
<th:block th:fragment="text-editor-read(object, field, input_attrs)" 
	vu:alias="text-editor" vu:selector="${viewMode=='read'}"
	th:assert="${object} != null and ${field} != null" >
		<div class="texte-riche" >
			<div v-pre th:utext="${__${model.util.contextGet(object, field, rowIndex)}__}" th:attr="__${input_attrs}__"></div>
		</div>
</th:block>