<th:block th:fragment="text-area-edit(object, field, label, label_attrs, input_attrs)" 
	vu:alias="text-area" vu:selector="${viewMode=='edit'}"
	th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label-edit label="${label}" th:attr="__${label_attrs}__">
		<q-input 
			type="textarea"
			th:v-model="${'vueData.' + object + '.' + field}" 
			th:name="${'vContext['+object+']['+ field +']'}"
			th:attr="__${input_attrs}__"
		>
		</q-input>
	</vu:label-edit>
</th:block>
<th:block th:fragment="text-area-read(object, field, label, label_attrs, input_attrs)" 
	vu:alias="text-area" vu:selector="${viewMode=='read'}"
	th:assert="${object} != null and ${field} != null" >
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label-read label="${label}" th:attr="__${label_attrs}__">
		<q-input 
			type="textarea"
			:readonly="true"
			th:v-model="${'vueData.' + object + '.' + field}" 
			th:name="${'vContext['+object+']['+ field +']'}"
			th:attr="__${input_attrs}__"
		></q-input>
	</vu:label-read>
</th:block>