<th:block th:fragment="head(title, vueJsVersion, axiosVersion, vuejsDevMode, vuiDevMode, vuiSsr, vertigoUiVersion, useQuasar, quasarVersion, robotoVersion, fontAwesomeVersion, useDsfr, useWysiwyg, additional_defer_libs_slot)" >
		<meta charset="utf8">
		<vu:head-meta
		    vueJsVersion="${vueJsVersion}"
		    vuejsDevMode="${vuejsDevMode}"
		    vuiDevMode="${vuiDevMode}"
		    axiosVersion="${axiosVersion}"
		    vuiSsr="${vuiSsr}"
		    vertigoUiVersion="${vertigoUiVersion}"
		    useQuasar="${useQuasar}"
		    quasarVersion="${quasarVersion}"
		    robotoVersion="${robotoVersion}"
		    fontAwesomeVersion="${fontAwesomeVersion}"
		    useDsfr="${useDsfr}"
		    useWysiwyg="${useWysiwyg}"
		    additional_defer_libs_slot="${additional_defer_libs_slot}"/>
		<vu:content/>
		<title vu:text="${title}"></title>
	</head>
</th:block>

<th:block th:fragment="head-meta(vueJsVersion, axiosVersion, vuejsDevMode, vuiDevMode, vuiSsr, vertigoUiVersion, useQuasar, quasarVersion, onlyDsfrStyle, robotoVersion, fontAwesomeVersion, useDsfr, useWysiwyg, additional_defer_libs_slot)"
        th:with="isVuiDevMode=${vuiDevMode != null ? vuiDevMode : false}, 
                 isVuejsDevMode=${vuejsDevMode != null ? vuejsDevMode : false},
                 isVuiSsr=${vuiSsr != null ? vuiSsr : false},
                 myVueJsVersion=${vueJsVersion?:'3.5.13'}, myVertigoUiVersion=${vertigoUiVersion?:'4.3.0'},
                 myAxiosVersion=${axiosVersion?:'1.8.4'},
                 myUseQuasar=${useQuasar ?: true}, myQuasarVersion=${quasarVersion?:'2.18.1'}, myOnlyDsfrStyle=${onlyDsfrStyle?:false},
                 myRobotoVersion=${robotoVersion?:'47'},
                 myFontAwesomeVersion=${fontAwesomeVersion?:'6.7.2'},
                 myUseDsfr=${useDsfr ?: false}, myDsfrDevMode=${dsfrDevMode ?: false}"
		>

	<th:block th:if="${!myOnlyDsfrStyle}">
		<link th:if="${myRobotoVersion} != 'null'" th:href="@{/vertigo-ui/static/3rdParty/roboto/v__${myRobotoVersion}__/css/roboto.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/materialIcons/v143/css/materialIconsOutlined.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/materialIcons/v143/css/materialIcons.css}" rel="stylesheet" type="text/css"/>
		<link th:if="${myFontAwesomeVersion} != 'null'" th:href="@{/vertigo-ui/static/3rdParty/use.fontawesome.com/releases/v__${myFontAwesomeVersion}__/css/all.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/ionicons@4.6.4-1/dist/css/ionicons.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css}" rel="stylesheet" type="text/css"/>
	</th:block>
    

    <!--/* VueJS */-->
	<script th:if="${!isVuejsDevMode}" th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/vue@__${myVueJsVersion}__/dist/vue.global.prod.js}"></script>
    <script th:if="${isVuejsDevMode}" th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/vue@__${myVueJsVersion}__/dist/vue.global.js}"></script>
   	<script th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/axios@__${myAxiosVersion}__/dist/axios.min.js}" ></script>

	<!--/* Wysiwyg (with tiptap editor) */-->
	<th:block th:if="${useWysiwyg}">
		<link th:href="@{/vertigo-ui/static/js/wysiwyg/vertigo-wysiwyg.css}" rel="stylesheet" type="text/css"/>
		<script th:src="@{/vertigo-ui/static/js/wysiwyg/vertigo-wysiwyg.umd.js}"></script>
	</th:block>

	<!--/* Quasar CSS */-->
	<th:block th:if="${myUseQuasar && !myOnlyDsfrStyle}">
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@__${myQuasarVersion}__/dist/quasar.css}" rel="stylesheet" type="text/css"/>
	</th:block>

	<!--/* Vertigo UI - DSFR */-->
	<th:block th:if="${myUseDsfr}">
		<link th:href="@{/vertigo-ui/static/3rdParty/dsfr/style.css}" rel="stylesheet" type="text/css"/>
		<script th:src="@{/vertigo-ui/static/3rdParty/dsfr/dsfr.umd.js}"></script>
	</th:block>


    <!--/* Defered scripts */-->
    
    <!--/* Quasar */-->
    <th:block th:if="${myUseQuasar}">
		<script th:if="${!isVuejsDevMode}" defer th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@__${myQuasarVersion}__/dist/quasar.umd.prod.js}"></script>
	    <script th:if="${isVuejsDevMode}" defer th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@__${myQuasarVersion}__/dist/quasar.umd.js}"></script>
	    <script defer th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@__${myQuasarVersion}__/dist/lang/__${model.util.getCurrentLocalePrefixForQuasar()}__.umd.prod.js}"></script>
	</th:block>
	
	<vu:content-slot name="additional_defer_libs_slot"/>
    
    <!--/* Vertigo UI UMD */-->
	<link th:href="@{/vertigo-ui/static/css/vertigo-ui.css?v=__${myVertigoUiVersion}__}" rel="stylesheet" type="text/css"/>
    <script th:if="${!isVuiDevMode}" defer th:src="@{/vertigo-ui/static/js/vertigo-ui.umd.js?v=__${myVertigoUiVersion}__}"></script>
    
	<script th:if="${isVuiDevMode}" defer type="module" src="http://localhost:3000/@vite/client"></script>
	<script th:if="${isVuiDevMode}" defer type="module" src="http://localhost:3000/src/main.js"></script>
    
    <!--/* Vertigo UI MPA */-->
    <script th:if="${isVuiSsr}" defer th:src="@{/vertigo-ui/static/js/vertigo-ui-mpa-ssr.js?v=__${myVertigoUiVersion}__}"></script>
	<script th:if="${!isVuiSsr}" defer th:src="@{/vertigo-ui/static/js/vertigo-ui-mpa.js?v=__${myVertigoUiVersion}__}" blocking="render"></script>
</th:block>