/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  width:60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */
 
 main.content {
 	width: 100vw;
 	padding-left: 60px;
 }


.topic-abstract {
	min-width: 250px;
	max-width: 250px;
}

.indicator {
	font-size: xx-large;
}

.topic-panel {
	min-height: 250px;
    max-height: 400px;
    overflow-y: auto;
}


.topic-panel tr {
	cursor: pointer;
}


/*From analytica*/


.d3chart {
	
}

.dataTable th {
	text-align:center;
}
.dataTable td.right {
	text-align:right;
}

.objective {
	overflow: hidden;
}

.objective .gauge  {
	float:left;
	position: relative;
	margin-bottom: 5px;
}
.objective .gauge canvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.objective .gauge.col-1 {
	width:100%;
}
.objective .gauge.col-2 {
	width:50%;
}
.objective .gauge.col-3 {
	width:33.333333333333%;
}
.objective .gauge.col-4 {
	width:25%;
}
.objective .gauge.col-5 {
	width:20%;
}
.objective .gauge.col-6 {
	width:16.666666666666%;
}
.objective .gauge.col-7 {
	width:14.285714285714%;
}
.objective .gauge.col-8 {
	width:12.5%;
}
.objective .title {
	display:none;
	position:relative;
	text-align: center;
	margin-top: -20px;
	/*border:solid 2px #F00;*/
	background: rgba(255, 255, 255, .75);
}

.objective .number i  {
	font-size: 36px;
}

.objective .number i.glyphicon  {
	margin-top: -5px;
}

.objective .number {
	font-size: 15px;
	line-height: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 60px;
	width: 60px;
	margin-left: -30px;
	margin-top: -20px;
	text-align: center;	
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bignumber {
	overflow: hidden;
}

.bignumber .metricLine {
	margin-bottom: 15px;
	float:left;
}

.col-md-12 .bignumber .metricLine {
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-9 .bignumber .metricLine {
	width: 33%;
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-6 .bignumber .metricLine {
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}

.col-md-3 .bignumber .metricLine {
	width: 100%;
}

.sparkbar, .sparkline {
	height : 51px;  /*font-size: 36px; => height:51px */
	display : inline-block;
}
.bignumber .number {
	line-height : 36px;
	font-size: 36px;
	font-weight:bold;
}
.bignumber .title {
	line-height : 18px;
	float:right;
	text-align: right;
}

#tooltip {
	position: absolute;
	display: none;
	border: 2px solid #999;
	border-radius:3px;
	box-shadow: 3px 3px 2px #888;
	padding: 3px;
	background-color:#F8F8F8;
	/*opacity : 0.9;*/
	font-size:0.9em;
	z-index:8020;
}

#tooltip .xvalue {
	/*font-size:0.8em;*/
}
#tooltip .serie {
	font-weight:bold;
}
#tooltip .yvalue {
}