<th:block th:fragment="dsfr-facets(resultKey, facetValueTranslatorProvider)"
          th:assert="${resultKey} != null">
    <vu:include-data-primitive th:key="|${resultKey}_facets|"/>
    <vu:include-data-primitive th:key="|${resultKey}_totalcount|"/>
    <vu:include-data-primitive th:key="|${resultKey}_selectedFacets|"/>
    <vu:include-data-primitive th:key="|${resultKey}_criteriaContextKey|"/>
    <dsfr-facets th::facet-value-translator-provider="${facetValueTranslatorProvider}" th:v-bind:facets="|vueData.${resultKey}_facets|" th:v-bind:selected-facets="|vueData.${resultKey}_selectedFacets|" th:context-key="${resultKey}" @toogle-facet="(facetCode, valueCode, contextKey) => { toogleFacet(facetCode, valueCode, contextKey) }"></dsfr-facets>
</th:block>