<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="http://www.morphbit.com/thymeleaf/component">
<vu:page title="Movie Detail" >
	<div class="row justify-center">
		<div class="col-6" >
			<vu:form>		
				<vu:grid cols="3">
					<vu:text-field object="movie" field="movId"/>
					<vu:text-field object="movie" field="title" />
					<vu:text-field object="movie" field="year" />
					<vu:slider object="movie" field="year" step="500" />
					<vu:knob object="movie" field="year"/>
					<vu:select object="movie" field="movId" list="movies" />
					<vu:grid-cell>
						<vu:text-field object="movie" field="title"/>
					</vu:grid-cell>
					<vu:date object="movie" field="released"  />
					<vu:datetime object="movie" field="lastModified" />
					<vu:autocomplete object="movie" field="movId" list="movies" />
					<vu:radio object="movie" field="movId" list="movies" layout="horizontal" labelField="movId"/>
					<vu:radio object="movie" field="movId" list="movies" />
					<vu:text-field object="movie" field="movId"/>
					<vu:text-field object="movie" field="title" />
					<vu:chips-autocomplete object="movie" field="tags" list="movies" />
					<vu:grid-cell>
						<vu:button-submit th:if="${!model.modeEdit}" label="Edit" action="@{/movie/_edit}" color="primary"/>
						<vu:button-submit th:if="${model.modeEdit}"  label="Save" action="@{/movie/_save}" color="primary" />
						<a th:href="@{/movies/}" >Movies</a>
					</vu:grid-cell>
				</vu:grid>
			</vu:form>
		</div>	
	</div>
</vu:page>
</html>