<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="http://www.morphbit.com/thymeleaf/component">
<vu:page title="'Movie Detail'" >
	<vu:form>
		<vu:text-field object="movie" field="movId" />
		<vu:text-field object="movie" field="title" />
		<vu:select object="movie" field="movId" list="movies" />
		<vu:autocomplete object="movie" field="movId" list="movies" />
		<input th:if="${!model.modeEdit}" type="submit" value="To Mode Edit" th:formaction="@{/movie/_edit}" />
		<input th:if="${model.modeEdit}"  type="submit" value="Submit" th:formaction="@{/movie/_save}" />
	</vu:form>
 </vu:page>
</html>