<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui" xmlns:vui-dsfr="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vui-dsfr:head-meta vuejsDevMode/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
	
    <script type="text/javascript" th:src="@{/vertigo-ui/static/js/vertigo-ui-extensions.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat">
	<vui-dsfr:page vuejsDevMode > <!-- vuiSsr -->
		<DsfrHeader
				service-title="Vertigo DSFR"
				service-description="Page de test des composants"
				logo-text="vertigo dsfr"
		>
		</DsfrHeader>

		<div class="fr-container">
			<DsfrBreadcrumb :links="links"/>
		</div>
	</vui-dsfr:page>

	<div layout:fragment="javascript-footer">
	</div>
</body>
</html>