<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="http://www.morphbit.com/thymeleaf/component"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <vu:head-meta/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Demo Application of Vertigo UI powered by SpringMvc, Thymeleaf and Quasar Framework"/>
    <meta name="author" content="Klee Group"/>
    
  	<link rel="stylesheet" th:href="@{/static/css/mars.css}"/>
	<link rel="icon" th:href="@{/static/img/favicon.ico}"/>
    
   	<script th:src="@{/static/js/mars.js}"></script>
</head>

<body class="mat desktop no-touch platform-mat">
	<vu:page>
      <q-layout view="hHh LpR lff" id="page" v-cloak>
			<!-- BEGIN HEADER-->
			<q-layout-header class="items-center">
				<q-toolbar class="justify-between">
					<div class="row">
						<q-btn flat round dense 
						th:with="showLeft=${model.vContext['componentStates'].addComponentState('navDrawer').addPrimitive('showLeft', true)}"
						@click="componentStates.navDrawer.showLeft = !componentStates.navDrawer.showLeft" icon="menu" aria-label="Toggle menu on left side"></q-btn>
						<div><img th:src="@{/static/img/logo MMC v0.1.png}" height="40px"/></div>
						<q-toolbar-title>
								MMC Managment 
								<span slot="subtitle">Mars Mining Company</span>
						</q-toolbar-title>
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div>
						<input type="text"/>
						<i aria-hidden="true" class="q-icon material-icons">search</i>
					</div>
					<div>
						<q-btn round dense color="primary" icon="mail" class="on-left" >
							<q-chip floating color="red">22</q-chip>
						</q-btn>
						<q-btn icon-right="arrow_drop_down"  class="on-left">
							<img th:src="@{/static/img/woman.png}" class="avatar"/>
							<div  class="on-right">Daniel Johnson<br/><small>Administrator</small></div>
						</q-btn>
						<q-btn flat round dense icon="apps" aria-label="Toggle apps"></q-btn>
					</div>
				</q-toolbar>
			</q-layout-header>
        	<!-- END HEADER-->
        				
			<q-layout-footer>
    			<q-toolbar class="justify-between">
					<div class="row col-4 justify-between">
					<div >
						Connected since 
						<div class="q-chip row no-wrap inline items-center q-chip-square bg-secondary text-white">
						<div class="q-chip-main ellipsis">2</div></div> hours
					</div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div>
						Base managers connected to system : 
						<div class="q-chip row no-wrap inline items-center q-chip-square bg-secondary text-white">
						<div class="q-chip-main ellipsis">5</div></div>
					</div>
					</div>
					<div class="row col-2 justify-between items-center">
						<img th:src="@{/static/img/logo MMC grey v0.1.png}" height="30px"/>
						&copy; 2153 Mars Mining Corp.
					</div>
				</q-toolbar>
  			</q-layout-footer>
  			
  			<q-layout-drawer
		      side="left"
		      :overlay="!componentStates.navDrawer.miniState"
		      v-model="componentStates.navDrawer.showLeft"
		      th:with="miniState=${model.vContext['componentStates']['navDrawer'].addPrimitive('miniState', true)}"
		      :mini="componentStates.navDrawer.miniState"
			    @mouseover="componentStates.navDrawer.miniState = false"
			    @mouseout="componentStates.navDrawer.miniState = true"
			  >
		      
		      <div slot="mini" style="height:100%">
		      	 <q-list link style="height:100%">
			      <nav>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-globe-asia"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-store-alt"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-user-friends"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-box-open"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-cubes"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-thermometer-empty"></q-item-side>
			        </q-item>
			        <q-item tag="a" th:href="@{#}">
			          <q-item-side icon="fas fa-chart-pie" ></q-item-side>
			        </q-item>
			        </nav>
			        </q-list>
		      </div>
		      
		      <q-list link style="height:100%">
		      <nav class="text-no-wrap">
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-globe-asia "></q-item-side>
		          <q-item-main label="Planetary Status"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-store-alt"></q-item-side>
		          <q-item-main label="Managed Bases"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-user-friends"></q-item-side>
		          <q-item-main label="Personnel" sublabel="Base managers, Workers,..."></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-box-open"></q-item-side>
		          <q-item-main label="Open Data"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-cubes"></q-item-side>
		          <q-item-main label="Equipment Catalog"></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-thermometer-empty"></q-item-side>
		          <q-item-main label="Environment Monitoring" ></q-item-main>
		        </q-item>
		        <q-item tag="a" th:href="@{#}">
		          <q-item-side icon="fas fa-chart-pie" ></q-item-side>
		          <q-item-main label="My Analytics" ></q-item-main>
		        </q-item>
		        </nav>
		        </q-list>
		    </q-layout-drawer>
		    
		    <q-layout-drawer side="right" show-if-above>
		    
		     	<section layout:fragment="content-nav"></section>
		     	
		    </q-layout-drawer>
  			
			<q-page-container class="row justify-center">
			 	<q-page class="layout-padding col-10 scroll">
					<section layout:fragment="content"></section>
				</q-page>
			</q-page-container>
  			
		</q-layout>
	</vu:page>
</body>

</html>