<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>Test Vertigo SpringMvc</display-name>
	<listener>
		<listener-class>io.vertigo.vega.impl.webservice.servlet.AppServletContextListener
		</listener-class>
	</listener>

	<!-- Paramètrage des variables du managers.xml -->
	<context-param>
		<param-name>boot.configXmlInterne</param-name>
		<param-value>/META-INF/application-config.xml</param-value>
	</context-param>

	<!-- Paramètrage des composants : assemblage de : - Dt de DtDefinitions; 
		- Managers de managers.xml - Services de demo-services.xml - Autres éléments 
		Task/MDM de execution.kpr -->
	<context-param>
		<param-name>boot.applicationConfiguration</param-name>
		<param-value>/testWebApp/META-INF/test-vui.yaml</param-value>
	</context-param>


	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.SetCharsetEncodingFilter
		</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <description>
            Filter CSP
        </description>
        <filter-name>CSP</filter-name>
        <filter-class>io.vertigo.vega.impl.servlet.filter.ContentSecurityPolicyFilter</filter-class>
        <init-param>
            <param-name>cspPattern</param-name>
            <param-value>default-src 'self' ; script-src-elem 'self' http://localhost:3000 'nonce-${nonce}'; frame-ancestors 'none'</param-value>  
        </init-param>
        <init-param>
            <param-name>url-exclude-pattern</param-name>
            <param-value>/index.html;/static/*;/vertigo-ui/static/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CSP</filter-name>
        <url-pattern>/test2/*</url-pattern>
    </filter-mapping>
    <filter>
        <description>
            Filter VueJs - SSR
        </description>
        <filter-name>vueJsSSR</filter-name>
        <filter-class>io.vertigo.ui.impl.vuejs.filter.VuejsSsrFilter</filter-class>
        <init-param>
            <param-name>ssrServerUrl</param-name>
            <param-value>http://localhost:8083/compile</param-value>  
        </init-param>
        <init-param>
            <param-name>url-exclude-pattern</param-name>
            <param-value>/index.html;/static/*;/vertigo-ui/static/*</param-value>
        </init-param>
        <init-param>
            <param-name>doublePassRender</param-name>
            <param-value>true</param-value>  
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>vueJsSSR</filter-name>
        <url-pattern>/test2/*</url-pattern>
    </filter-mapping>
   <filter> 
        <description>
            Filtre de sécurisation des URLs et de conservation des sessions.
            Limite l'accés aux URLs (sauf celles de url-exclude-pattern) aux utilisateurs authentifiés.
            Authentifié = isAuthentified true dans la UserSession.
        </description>
        <filter-name>Security Filter</filter-name>
        <filter-class>io.vertigo.vega.impl.servlet.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>url-no-authentification</param-name>
            <param-value>/*</param-value>
        </init-param>
        <init-param>
            <param-name>url-exclude-pattern</param-name>
            <param-value>/;/index.html;/api/*;/vertigo-ui/static/*;/static/*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!-- prevent Locking of static files on windows -->
	<context-param>
		<param-name>org.eclipse.jetty.servlet.Default.useFileMappedBuffer</param-name>
		<param-value>false</param-value>
	</context-param>
	<!-- serve static files by jetty -->

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>