body {
	color: #01477B;
  	background-color: #DADEDF;
}
.errorPage {
	margin: 0px;
	padding: 0px; 
	height: 100%;
	font-size: 0.7em;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #01477B;
  	background-color: #DADEDF;
}

.errorPanelAjax .errorPage div#bandeau {
	display:none;
}

.errorPage div#content {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
	padding: 11px;
	padding-left: 50px;
	margin: 0px;
	margin-bottom: 10px;
	background: #FFF url(../img/icon/error.gif) no-repeat 5px 5px;
	border: solid 2px #FA0000;
}

.errorPage div#bandeau {
	height: 80px;
	padding: 0px;	
	font-size: 0.7em;
}

.errorPage h1 , .errorPanelAjax h1 {
	margin: 0px;
	padding : 0px;
	font-size: 1.2em;
	padding-left: 20px;
	white-space: nowrap;
	font-weight: bold;	
}

.errorPage h2 {
	font-size: 1.1em;
	background: #e0e0e0;
	margin: 0px;
	margin-top: 8px;
	margin-bottom: 8px;	
	padding: 2px;
}

.errorPage h3 {
	display:inline;
	font-size: 1.0em;
	color:#D86f7D;
}

.errorPage a {
	color: #0520FF;
}

.errorPage p {
	margin-left: 10%;
	margin-right: 10%;	
}

.errorPage .code {
	padding: 8px;
	color: #7f7f7f;
	font-size: 0.8em;
}

.errorPage #showerrorlink {
	color: #7f7f7f;
	font-size: 0.8em;
}