/**
 * Feuille de style de l'application TeleDo
 * 
 * @author Nicolas Piedeloup
 * @version : $Id: kasper_demo.css,v 1.2 2013/09/27 15:47:28 npiedeloup Exp $
 */
body {
	color: #01477B;
	background-color: #DADEDF;
}

form {
	margin: 0 0 10px; /*anti bootstrap*/
}
.container {
	width: 1120px; /*anti bootstrap*/
}

#header {
	margin: 5px;
	display:inline-block;
	width: 100%;
}

#footer {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#logo {
	float: left;
}

.right {
	float: right;
}

.center {
	width: 100%;
  	text-align: center;
}

hr {
	border-top: 1px dashed #01477B;
	border-bottom: none;
	margin-top: 5px;	
	margin-bottom: 5px;
}

/***********************************************************************************************************/
/* Placements d'el�ments g�n�riques
/***********************************************************************************************************/

td {
	vertical-align: top;
}

th {
	vertical-align: top;
}

td.checkBoxLeft {
	text-align: right;
} 

th.checkBoxLabelRight {
	text-align: left;
	margin-left:0px;
	margin-right:10px;
}
/* TODO valeur en gras ? */
.grid span {
	font-weight: bold;
}

th.checkBoxLabelRight label.readonly {
	font-weight: normal;
}

label.readonly {
	cursor: auto;
	/* TODO valeur en gras ? */
	// font-weight: bold; 
	font-weight: normal;
	//color: #21679B;	
}

label {
	padding: 4px 6px;
	border: 1px solid transparent;
}

.required {
	display: inline;
	padding: 0;
}

td span, th span {
	padding: 4px 6px;
	display: inline-block;
	border: 1px solid transparent;
}

td.multiLabel label {
	display: inline-block;
	vertical-align: top;
}

.panel {
	margin-top: 20px; 
	margin-bottom: 40px; 
	position: relative;
	background-color: #edefee;
	padding: 10px;
	padding-top: 25px;	
	-moz-border-radius: 0px 17px 0px 17px;
    -webkit-border-radius: 0px 17px 0px 17px;
    -khtml-border-radius: 0px 17px 0px 17px;
	border-radius: 0px 17px 0px 17px;
	/* behavior: url(static/css/pie/PIE.htc); provoque un décalage*/
}

.panel h2 {
	position: absolute;
	top:-25px;
	height:20px;   	
    color: #FFF;	
    padding: 5px 17px;
   	font-size: 1.2em;
   	line-height: 1.2em;
   	background: #C44;
   	background: linear-gradient(#d04655, #b62c3b);
	-moz-border-radius: 17px 0px 17px 0px;
    -webkit-border-radius: 17px 0px 17px 0px;
    -khtml-border-radius: 17px 0px 17px 0px;
	border-radius: 17px 0px 17px 0px;
	
	-pie-background: linear-gradient(#d04655, #b62c3b);
	behavior: url(static/css/pie/PIE.htc);
}

.vert h2 {
	background: linear-gradient(#aec738, #95ae1f);
	-pie-background: linear-gradient(#aec738, #95ae1f);
}

.sub-panel h3 {
	border-bottom: 1px solid #01477B;
	//font-size: 20px;
	font-size: 1.1em;
	font-weight: bold;
}

/*.teledo-rounded {
	-moz-border-top-left-radius: 17px;
    -webkit-border-top-left-radius: 17px;
    -khtml-border-top-left-radius: 17px;
	border-top-left-radius: 17px;
	-moz-border-bottom-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;
    -khtml-border-bottom-right-radius: 17px;
	border-bottom-right-radius: 17px;
}*/

.navigation {
	background: url(../img/sup_bleue.png) no-repeat left center;
	padding-left: 21px;
}

/***********************************************************************************************************/
/* Placements d'el�ments sp�cifique
/***********************************************************************************************************/



/***********************************************************************************************************/
/* Ecran d'accueil
/***********************************************************************************************************/
#bienvenueInfos a {	
	margin-left: 25%;
}

#bienvenueInfos ul {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 25%	
}

#bienvenueInfos ul li {	
	line-height: 30px;
	list-style: none outside none;
	background: url(../img/puce_rouge.png) no-repeat left center;
	padding-left: 25px;
}

.bienvenueInscrit {
	background: #edefee url(../img/bienvenueInscrit.png) no-repeat;	
	padding-left:180px;
	min-height: 155px;	
}

.bienvenueInscrit > div {
	padding-bottom: 30px;	
}

.bienvenueNonInscrit {
	background: #edefee url(../img/bienvenueNonInscrit.png) no-repeat;
	padding-left:180px;
	min-height: 155px;	
}

.bienvenueNonInscrit > div {
	padding-bottom: 30px;	
}

.inscriptionTitulaire h2, .inscriptionPartenaire h2, .inscriptionAgent h2 {
	margin: 0px;
	font-size: 1.0em;
   	line-height: 1.0em;   	   	
   	height:30px;
   	color: #FFF;
    padding: 10px;   	
   	-moz-border-radius: 17px 0px 17px 0px;
    -webkit-border-radius: 17px 0px 17px 0px;
    -khtml-border-radius: 17px 0px 17px 0px;
	border-radius: 17px 0px 17px 0px;
	behavior: url(static/css/pie/PIE.htc);
}

.inscriptionTitulaire h2 {
	background: linear-gradient(#47dbab, #2dc191);
	-pie-background: linear-gradient(#47dbab, #2dc191);
	background: #47dbab;
}

.inscriptionPartenaire h2 {
	background: linear-gradient(#c767c8, #ab4dab);
	-pie-background: linear-gradient(#c767c8, #ab4dab);
	background: #c767c8;
}

.inscriptionAgent h2 {
	background: linear-gradient(#2ccaf9, #11addd);
	-pie-background: linear-gradient(#2ccaf9, #11addd);
	background: #2ccaf9;
}

.features {
	background-color: #fff;
	padding-bottom: 10px;
	
	height: 160px;
	
	-moz-border-radius: 0px 17px 0px 17px;
    -webkit-border-radius: 0px 17px 0px 17px;
    -khtml-border-radius: 0px 17px 0px 17px;
	border-radius: 0px 17px 0px 17px;
	
	behavior: url(static/css/pie/PIE.htc);
}

.features ul li {	
	line-height: 25px;
	list-style: none outside none;	
	padding-left: 25px;
}

.inscriptionTitulaire ul li {
	background: url(../img/puce_verte.png) no-repeat left center;
}

.inscriptionPartenaire ul li {
	background: url(../img/puce_violette.png) no-repeat left center;
}

.inscriptionAgent ul li {
	background: url(../img/puce_bleue.png) no-repeat left center;
}

.inscriptionTitulaire p, .inscriptionPartenaire p, .inscriptionAgent p {
	padding-left: 10px;	
}

.inscriptionTitulaire hr, .inscriptionPartenaire hr, .inscriptionAgent hr {
	width: 80%;
	border-top: 1px dotted #01477B;
	margin: 10px auto;
}

.subinfo {
	padding: 10px;
	font-size: 0.8em;
	font-weight: lighter; 
	background-color: #edefee;
	-moz-border-radius: 17px 0px 17px 0px;
	-webkit-border-radius: 17px 0px 17px 0px;
	-khtml-border-radius: 17px 0px 17px 0px;
	border-radius: 17px 0px 17px 0px;	
	behavior: url(static/css/pie/PIE.htc);
}

/***********************************************************************************************************/
/* Message d'erreur, d'information, d'avertissement
/***********************************************************************************************************/

.errorPanel , .warningPanel, .infoPanel {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    //behavior: url(static/css/pie/PIE.htc);
	padding: 11px;
	padding-left: 50px;
	margin: 0px;
	margin-bottom: 10px;	
}

.errorPanel h3 , .warningPanel h3 , .infoPanel h3  {
	font-size: 1.0em;
	line-height: 1.3em;
	margin:0px;
	margin-bottom:5px;
}

.errorPanel {
	background: #FFF url(../img/icon/error.gif) no-repeat 5px 5px;
	border: solid 2px #FA0000;
}

.errorMessage {
	font-weight: normal;
}

.errorPanel ul, .warningPanel ul, .infoPanel ul {
	list-style-type: none;
}

.errorPanel .message, .warningPanel .message, .infoPanel .message {
	color: #01477B;
}
.errorPanel .messageLabel {
	font-weight: bold;
	color: #FA0000;
}
.warningPanel .messageLabel, .infoPanel .messageLabel {
	font-weight: bold;
	color: #01477B;
}

.warningPanel {
	background: #FFF url(../img/icon/warning.gif) no-repeat 5px 5px;
	border: solid 2px #FFBD00;
}

.infoPanel {
	background: #FFF url(../img/icon/info.gif) no-repeat 5px 5px;
	border: solid 2px #08BD6B;
}

input.error, select.error, textarea.error { 
	border-color:red !important;
	//background-image: url(../img/icon/error_field.gif);
	background-position: right center;
	background-repeat: no-repeat;	
}

.errorLabel {
	color: #FA0000
}

/*
input[type="text"].error {
	width: 187px;
	padding-right: 25px;
}

select.error {
	padding-right: 25px;
}
*/

/*

TEXTAREA.error {
	background: #FFD0D0;
	border: solid 1px #806060;
	color: #C0012D;
}

INPUT.error {
	background: #FFD0D0;
	padding : 1px 1px 1px 2px;
	border: solid 1px #806060;
	color: #C0012D;
}

SELECT.error {
	background: #FFD0D0;
	border: solid 1px #806060;
	color: #C0012D;
}*/


/***********************************************************************************************************/
/* Boutons et liens d'action.
/***********************************************************************************************************/
/***********************************************************************************************************/
/* button
/***********************************************************************************************************/

.button-bar, .button-bar_top {
	display:table;
	width:100%;
	margin-top:5px;
	padding-bottom:0px;
}

.button-bar_top {
	margin-top:0px;
	margin-bottom:5px;
}

.button-bar .right, .button-bar_top .right {
	float:right;
}

.button-bar .btn, .button-bar_top .btn, .button-bar input, .button-bar_top input, .button-bar button, .button-bar_top button {
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:5px;
}

.button-bar .right .btn, .button-bar_top .right .btn, .button-bar .right input, .button-bar_top .right input,.button-bar .right button, .button-bar_top .right button {
	margin-top:0px;
	margin-right:0px;
	margin-left:5px;
}

.bouton, .button-bar input[type="submit"], .button-bar a {	
	// line-height: 39px;
	//height: 39px;
	line-height: 49px;
	height: 49px;
	display: inline-block;
	color: white;
	font-weight: bold;
	border: none;
}

a.bouton:hover, a.bouton:active, a.bouton:visited, a.bouton:focus,
.button-bar a:hover, .button-bar a:active, .button-bar a:visited, .button-bar a:focus,
input[type="submit"]:focus {	
	text-decoration: none;
	color: white;	
	outline: none; /* surcharge bootstrap */
}

.connexion, .confirmer, .continuer, .rechercher {
	background: url(../img/fleche_verte.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.inscription  {
	background: url(../img/fleche_rouge.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.modifier  {
	background: url(../img/modifier.png) no-repeat left center;
	padding-left: 45px;
	padding-right: 12px;
}

.enregistrer {
	background: url(../img/enregistrer.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.supprimer {
	background: url(../img/croix_rouge.png) no-repeat left center;
	padding-left: 50px;
	padding-right: 12px;
}

.creer, .ajouter {
	background: url(../img/plus.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.envoyer  {
	background: url(../img/envoyer.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.annuler  {
	background: url(../img/retour_rouge.png) no-repeat right center;
	padding-right: 60px;
	padding-left: 12px;
}

.inscription-titulaire  {
	background: url(../img/fleche_turquoise.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.inscription-partenaire  {
	background: url(../img/fleche_violet.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

.inscription-agent  {
	background: url(../img/fleche_bleu.png) no-repeat left center;
	padding-left: 60px;
	padding-right: 12px;
}

/***********************************************************************************************************/
/* Formulaires
/***********************************************************************************************************/

table.grid {
	width: 100%;
}

.tdLabel {
	line-height: 20px;
	height: 20px;	
	width: 30%;
	text-align: right;
}

/* TODO valeur en gras ? */
textarea[readonly] {
	font-weight: bold;
	color: #01477B
}

input[type="text"].hasDatepicker {
	width: 75px;
}

.ui-datepicker-trigger {
	margin-bottom: 10px;
}


/***********************************************************************************************************/
/* Tableaux de donn�es
/***********************************************************************************************************/

.tableau {
	width: 100%;
}

.tableau thead  {
	background-color: #a5bfd0;	
}

.tableau td, .tableau th {
	padding: 8px;
	border: 1px solid #dddddd;			
}

.sortable a {
	color: #01477B;		
}

.sorted.order1 a {	
	background: url(../img/icon/order_asc.png) no-repeat right center;
	padding-right: 20px;
}

.sorted.order2 a {
	background: url(../img/icon/order_desc.png) no-repeat right center;
	padding-right: 20px;
}

.pagebanner {
	display: inline-block;
	width: 33%;
}

.pagelinks {
	display: inline-block;
	width: 33%;
	text-align: center;
}

/*
.pagelinks ul {
	list-style: none outside none;
}

.pagelinks ul li {
	display: inline;
	padding: 2px;
	border: 1px solid grey;
	margin: 0 5px;
}
*/

.exportlinks {
	float: right;
}

.tableau td {
	box-shadow: inset 1px 0px 0px white;
}

.tableau tbody tr.odd {
	background-color: #f2f4f3;
}

.tableau tbody tr.even {
	background-color: #e4e8eb;
}

/*
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  border:thin solid grey;
}

.table thead th {
  vertical-align: bottom;
  color:white;
  background-color: #01477B;
  border:thin solid grey;
}
*/

#utilisateur {
	float:right;
	padding: 10px;	
	-moz-border-radius: 0px 17px 0px 17px;
    -webkit-border-radius: 0px 17px 0px 17px;
    -khtml-border-radius: 0px 17px 0px 17px;
    border-radius: 0px 17px 0px 17px;
	font-size: 0.8em;
	line-height: 1em;
	font-weight: bold;
	background-color: #edefee;
	behavior: url(static/css/pie/PIE.htc);
}

#utilisateur hr {
	margin-top: 5px;	
	margin-bottom: 5px;
}

.change-profil {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	background: url(../img/icon/play.png) no-repeat left center;
	padding-left: 18px;
	color: #01477B;
	font-weight: normal;
}

.logout {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin-left: 5px;
	background: url(../img/icon/croix.png) no-repeat left center;
	padding-left: 18px;
	color: #01477B;
	font-weight: normal;
}

.nowrap {
	white-space: nowrap;
}

.template {
	width: 100%;
}

/* Menu. */
#menu {	
	font-size: 16px;
	font-weight: bold;
}

#menu ul {	
	-moz-border-radius: 0px 5px 0px 5px;
    -webkit-border-radius: 0px 5px 0px 5px;
    -khtml-border-radius: 0px 5px 0px 5px;
    border-radius: 0px 5px 0px 5px;
	list-style: none outside none;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

#menu ul li, .subMenu li, #cheminDeFer ul li {
	display : inline-block;
}

#menu ul li {
	position : relative;
	vertical-align: middle;
}

#menu > ul > li {
	padding: 5px;
	border-left: 1px solid #ccdce9;	
}

#menu > ul > li:first-child {
	border: none;
}

.subMenu {
	position: absolute; 
	top: 100%; 
	// left: -1px;
	left: 0;
	padding: 5px;
	font-size: 13px;
	font-weight: normal;	
	z-index: 1;
	//border-left: 1px solid #ccdce9;
}

.menu {
	float : left;
	padding-left: 10px;
	padding-right: 10px;
}

.menu + ul {
	display : none;
}

li:hover .subMenu, .menu:hover ul {
	display : block;	
}

#cheminDeFer {
	padding-top: 5px;
	padding-bottom: 5px;
}
.cheminDeFer:before {
    content: '\3E';
}


/***********************************************************************************************************/
/* Formulaire dynamiques
/***********************************************************************************************************/

.etapes .etape.active input[type="submit"]{
	border-right: 0px;
	
	color: inherit;
	z-index: 1;
}

.etapes .etape input[type="submit"] {
	padding: 8px 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 1px;
	background-color: #FFF;
	border: 1px solid #39D;
	
	font-weight: bold;
	color: #39D;
	text-align: left;
	
	position: relative;
	width:100%;
	white-space:normal;
	line-height:normal;
	
	-moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
	
}

.nav.nav-list{
	padding:0px;
}

.span10.sections {
	margin-left: 0px;
}

.formulaire h4{
	border-bottom: 2px solid #39D;
	margin: 10px;
	margin-top: 0px;
	font-size: 12px;
	font-weight: bold;
	
	
}

.formulaire .section h3{
	margin: 0px;
	font-size: 1.1em;
	border-bottom: 2px solid #39D;
	margin-bottom: 20px;
	
}

.formulaire .section label.radio,  .formulaire .section select , .formulaire .section input{
	/*margin-left: 40px;*/
	font-size: 12px;
	padding-left: 5px;
}

.formulaire .section label.radio input{
	margin-left: 0px;
}

/*
.formulaire .button  input{
	float: right;
	margin-right: 15px;
	
}
*/

/*
.formulaire .button {
	overflow: hidden;	
}
*/

.formulaire {
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #39D;
	min-height: 300px;
	
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/*********/
/* Popin */
/*********/

#popin-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	display:none;
	z-index: 1;
	opacity: 0.5; /* 0.8 par bootstrap */
	filter : alpha(opacity=50);
}

#popin {
	/*width: 33%;*/
	position: absolute;
	z-index: 2;
	border-radius: 5px;
	background-color: #ebebeb;
	box-shadow: 10px 10px 2px #606060;			
	display: none;
}

#popin .modal-footer {
	background-color: #ebebeb;
	padding:10px 20px;
}

.modal-header {
	padding: 5px 10px 5px 10px;
	border-radius: 5px 5px 0px 0px;	
	background-color: #858e8b;	
}

.confirm .modal-header {
	background-color: #858e8b;
}
	
.warn .modal-header {
	background-color: #ff9c00;
}

.modal-header h4 {
	color: white;
	font-weight: bold;
	margin:5px;
	font-size: 1.2em;
}

.modal-body {
	white-space: pre-line;
	padding: 10px;	
	padding-left: 74px;
	margin-bottom:10px;
	min-height: 75px;
}

.confirm .modal-body {	
	background: url(../img/confirm.png) no-repeat 10px center;
}

.warn .modal-body {	
	background: url(../img/warn.png) no-repeat 10px center;
}

.ui-autocomplete  .highlight {
	font-weight:bold;
	color:#000;
	background:yellow;
}

.ui-autocomplete .col {
	vertical-align:top;
	display:inline-block;
	//width: 32.0%;
	margin-left:0px;
	margin-right:5px;
}

/* TODO */
#ui-id-1 .col {
	min-width: 32.0%;
}

#ui-id-2 .col {
	min-width: 90%; 
}

.ui-autocomplete {
	font-size: 0.9em;
	max-height: 200px;
	overflow-y: scroll;
	overflow:auto;
}

.ui-autocomplete-loading {
	background: url(../img/icon/ajax-wait.gif) no-repeat center;
}

.autocompleter-icon {
	//width: 20px;
	//height: 20px;
	width: 14px;
	height: 14px;
	// background: url(../img/icon/zoom.gif) no-repeat center;
	background: url(../img/glyphicons-halflings.png) -48px 0;
	display: inline-block;
	cursor: pointer;
}

.hidden {
	visibility: hidden;
}

.displaynone {
	display:none;
}