* {
	margin:0px;padding:0px;
}

BODY {
 	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:12px; /*si <=10 pas de bold en Arial*/
	font-weight: normal;
	margin-top : 0px;
	margin-left : 7px;
	margin-right : 7px;
	margin-bottom : 5px;
	min-width : 994px;
	color: #000000;
	background-color : white;
}


FORM {
	margin:0px;
	padding:0px;
}

TABLE {
	border-collapse:collapse;
  font-size:1em;
}

div.calendar TABLE {
	border-collapse:separate;
}

TD {
	padding:15px;
	padding-bottom:2px;
	padding-top:2px;
	color: #1B1B1B;	
}

TH, TD.th {
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom:2px;
	padding-top:2px;
	font-weight: normal;
	text-align:right;
	color: #1A1A1A;
}

.label {
	padding-left: 5px;
	padding-right: 5px;
}

SELECT, INPUT {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	padding-left : 1px;
	margin-top:2px;
	margin-right:5px;
	color: #1B1B1B;
	/*border: solid 1px #A5ACB2;/* can't use because pb with checkbox*/
}

input.radio  {
	height:14px;
	margin-top:-2px !important;
	margin-top:0px;
	padding-right:5px;
	vertical-align:middle;
}

input.checkbox {
	height:14px;/*for vertical align of checkbox.*/
}

SELECT {
	border: solid 1px #A5ACB2;
}

OPTION {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	padding-left : 6px;
	color: #1B1B1B;
}

SELECT {
	max-Width: 300px;
	/*width: expression(Math.min(parseInt(this.offsetWidth), 300 ) + "px");*/ /*don't work with IE7 width=0*/
}

TEXTAREA  {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	vertical-align : middle;
	color: #1B1B1B;
	border: solid 1px #6E6E6E;
}

TEXTAREA.readonly  {
	background: #F4F4F4;
}

INPUT.readonly  {
	border: solid 1px #7F9DB9;
	padding : 1px 1px 1px 2px;/* without this, the input with and without readonly showed differents*/
	background: #F4F4F4;
}

.itemselect INPUT.readonly  {
	border: solid 1px #F4F4F4;
}

TEXTAREA.error {
	background: #FFD0D0;/*errorColor*/
	border: solid 1px #806060;
}

INPUT.error {
	background: #FFD0D0;/*errorColor*/
	padding : 1px 1px 1px 2px;/* without this, the input with and without error showed differents*/
	border: solid 1px #806060;
}

SELECT.error {
	background: #FFD0D0;/*errorColor*/
	border: solid 1px #806060;
}

span.error {
	color:#C0012D;
}

.mandatory .icon {
	color:#B71E1E;	
	font-size: 1.1em;
	line-height:1em;
}

IMG {
	border : 0px;
	vertical-align : middle;
}

DIV.right{
	float:right;
	text-align:right;
}

DIV.left{
	text-align:left;
}


H1, table TD.H1  {
	white-space: nowrap;
	text-align:left;
	font-size: 1.4em;
  font-weight: bold;
	color: #543D00;
	line-height:24px;
	margin-top:10px;
	text-transform:uppercase;
}

/* ---- Depends du menu actif ---- */
H2, caption, table TD.H2 {
	white-space: nowrap;
	text-align:left;
	font-size: 1.1em;
  font-weight: bold;
	line-height:20px;
	color: #A07500;/*color2*/
}

H3 {
	white-space: nowrap;
	text-align:left;
	font-size: 1.0em;
  font-weight: bold;
	color: #666;
	line-height:15px;
}

.link, .link input {
	float:left;
	margin-top:5px;
	border:0px;
	background:none;
	text-decoration:underline;
	white-space: nowrap;
	cursor:pointer;
	_width:0;
	overflow:visible;
}

div.linkdisable {
	display: inline;
	text-decoration:none;
}

ul {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
}

li {
	margin-left:30px;
}

li a {
	text-decoration:underline;
	color: #000;
}

li div.linkdisable {
	display: inline;
	text-decoration:none;
	color: #000;
}

hr {
	margin-top:15px;
	margin-bottom:5px;
}
code {
	color: #666;
}

#tuto_menu {
	padding-left : 0px;
	width:164px;
	vertical-align:top;
	border-right:solid 1px #543D00;
}

#tuto_menu h2 {
	padding-left : 10px;
}

.description {
	padding:10px;
	padding-top:5px;
	border:solid 1px #B6CDE1;
	background-color : #FFF5DF;
}

.description h2 {
	padding-top:0px;
	padding-bottom:2px;
	margin-bottom:8px;
	border-bottom: solid 1px #E76300;
	color:#E76300;
}
.api {
	margin:10px;
	margin-bottom:20px;
}

.exemple {
	margin:10px;
	padding:10px;
	padding-top:5px;
	border:solid 1px #6F7EA1;
	background-color : #EEF;
}

.exemple h2 {
	padding-top:0px;
	padding-bottom:2px;
	margin-bottom:8px;
	border-bottom: solid 1px #A22;
	color:#A22;
}
.exemple textarea {
	width:100%;
	background-color : #E0E0F0;
}

/***********************************************************************************************************/
/* Erreurs
/***********************************************************************************************************/

div.ui-messages-error {
	background: #FFF4F4;
	border: solid 1px #C0012D;
	padding: 3px;
	margin: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #C0012D;
	font-size: 1em;
}

.ui-messages-error-icon {
	background: url(../images/icon/m_error.gif) no-repeat left top;
	width:16px;
	height:16px;
	margin-top: -3px;
}

.ui-messages li {
	margin: 0px;
}

.field {
	position : relative;
}
.field div {
	position : absolute;
	top: -1px; right: -21px;
	padding:0px;
}

div.ui-messages-error span {
	font-weight: bold;
	font-size: 1em;
}

div.error table {
	margin: 0px;
}

div.error table th {
	font-size: 1em;
	text-align: right;
	font-weight: normal;
	white-space: nowrap;
	padding: 0px;
	padding-right: 2px;
	padding-left: 10px;
	color: #C0012D;
}

div.error table td {
	font-size: 1em;
	font-weight: bold;
	padding: 0px;
	padding-left: 2px;
	padding-right: 0px;
	color: #C0012D;
}

div.confirmMessage, div.ui-messages-confirm {
	background: #ECF3FF;
	border: solid 1px #020FC0;
	padding: 3px;
	margin: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #020FC0;
	font-size: 1em;
}
.ui-messages-confirm-icon {
	background: url(../images/icon/m_confirm.gif) no-repeat left top;
	width:16px;
	height:16px;
	margin-top: -3px;
}
div.warningMessage, div.ui-messages-warn {
	background: #FFF3EC;
	border: solid 1px #FF6600;
	padding: 3px;
	margin: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #FF6600;
	font-size: 1em;
}
.ui-messages-warn-icon {
	background: url(../images/icon/m_warning.gif) no-repeat left top;
	width:16px;
	height:16px;
	margin-top: -3px;
}
/***********************************************************************************************************/
/* button
/***********************************************************************************************************/

.buttonbar, .buttonbar_top {
	display:table;
	width:100%;
	margin-top:5px;
	padding-bottom:0px;
}

.buttonbar_top {
	margin-top:0px;
	margin-bottom:5px;
}

a.button, span.button, div.button {
	display:block;
	float:left;
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 10px;
	height: 26px;
	cursor:pointer;	
	text-decoration: none;
	border:none;
	font-style:bold;
	vertical-align:middle;
	background:url(../images/bouton/bouton2L.png) no-repeat;
    background-position:0 0;
	color:#ffffff;
}

.right a.button, .right span.button, .right div.button {
	float:right;
}

a.button:hover {
    background-position:0 -30px;
}
a.button:hover input, a.button:hover div, a.button:hover a, a.button:hover span  {
    background-position:100% -30px;
}

a.button input, a.button div, a.button a, a.button span,
span.button input, span.button div, span.button a, span.button span,
div.button input, div.button div, div.button a, div.button span  {
	display:block;
	float:left;
	cursor:pointer;
	margin: 0px 0px 0px 0px;
	padding:0px 10px 0px 0px;
	height: 26px;
	line-height:21px;
	font-weight:bold;
	border:none;
	text-decoration: none;
	background:url(../images/bouton/bouton2.png) no-repeat;
    background-position:100% 0;
	color: #ffffff;
	overflow: visible;
}

.tableau .button {
	margin: 0px 0px 0 0px;
}

.tableau .button input {
	color: #ffffff;
}

.button input {
	padding-bottom:6px;
	_padding-bottom:5px;
	line-height:1.1em;/*Opera need this*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	_width: 0;  /* IE table-cell margin fix */
    overflow: visible;
}

.buttonbar .button, .buttonbar_top .button, .buttonbar input, .buttonbar_top input {
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:5px;
}

.buttonbar .right .button, .buttonbar_top .right .button, .buttonbar .right input, .buttonbar_top .right input {
	margin-top:0px;
	margin-right:0px;
	margin-left:5px;
}

.buttonbar .button input, .buttonbar_top .button input {
	margin:0px;
}

.buttonbar .right .button input, .buttonbar_top .right .button input {
	margin:0px;
	_margin-left:-3px;
}

.icon {
	margin:-3px 5px 0px 0px;
	padding:0px 0px 0px 0px;
	text-decoration: none;
}

/***********************************************************************************************************/
/* Tableaux de données
/***********************************************************************************************************/

table.tableau, table.list-empty {
    width: 100%;
    clear: both;
    line-height: 15px;
}

div.scrollable table.tableau {
	margin-left:1px;
    width:99%;
}

table.tableau TH, table.tableau TD.entete {
	padding-left:5px;
	padding-right:5px;
	font-weight:bold;
	text-align:left;
	border: solid 1px #F08620;/*color3*/
	background-color:#E9DF9A;/*color2*/
}

table.tableau TH a {
}

table.tableau TH a.sortDesc {
	background: url(../images/desc.png) no-repeat right center;
	padding-right: 10px;
}

table.tableau TH a.sortAsc {
	background: url(../images/asc.png) no-repeat right center;
	padding-right: 10px;
}

table.list-empty TH {
	font-size: 1.1em;
	font-weight:bold;
	text-align: center;
	padding-top: 30px;
	padding-right: 5px;
	padding-bottom: 20px;
	padding-left: 5px;
}

table.tableau TD { 
	border: solid 1px #F08620;
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
table.tableau TR {
    vertical-align:middle;
}

table.tableau .odd {
	background-color:#F5F4DD;
}

table.tableau td.left, table.tableau td .left {
	text-align:left;
	float:left;
}

table.tableau td.right, table.tableau td .right {
	text-align:right;
	float:right;
}

table.tableau td.center, table.tableau td .center {
	text-align:center;
	float:center;
}

table.tableau input, table.tableau select, table.tableau td, table.tableau textarea, table.tableau radio {
	color: #1A1A1A;
}

table.tableau .horstable, table.list-empty .horstable {
	background-color: #EEF;
	border: none;
	color: #4C4C4C;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

div.tab table.tableau .horstable, div.tab table.list-empty .horstable {
	background-color: #FFFFFF;
} 

table.tableau .horstable a, table.list-empty .horstable a {
	font-weight:normal;
	color: #4C4C4C;
}

.facetSelected {
	clear:both;
	border:1px;
}

.facet {
	clear:both;
	border:1px;
}

.facetValue {
	clear:both;
}
