<th:block th:fragment="column(list,field,name,label,sortable, class)"
	th:assert="${(field != null) or (name != null and label != null)}"
	th:with="columnName=${field != null ? field : name }, columnLabel=${label != null ? label : model.util.label('__${list + '.' + field}__')}, columnSortable=${sortable != null ? sortable : false } "
	th:attr="objectKey=${model.vContext['componentStates']['__${componentId}__'].addObjectToList('columns', {name: '__${columnName}__', field: '__${field}__', label: '__${columnLabel}__', 'sortable': __${columnSortable}__, 'align': 'left', 'classes':'__${class}__'})}" >
	<vu:include-data th:if="${field != null}" object="${list}" field="${field}"/>
	<q-td th:key="${columnName}" :props="props">
		<vu:content>{{ props.row.[[${field}]] }}</vu:content><!--/* Default content */-->
	</q-td>
</th:block> 