<th:block th:fragment="dsfr-action-group(contentTags, class, manualMode, other_attrs)" th:with="myManualMode=${manualMode?:false}, inActionGroup=${myManualMode}">
    <ul class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--right"
        th:classappend="${class}"
        th:attr="__${other_attrs}__">

        <vu:content th:if="${myManualMode}"/>

        <th:block th:each="contentItem:${contentTags}" th:unless="${myManualMode}">
            <li>
                <vu:content-item th:with="class=null"/>
            </li>
        </th:block>
    </ul>
</th:block>

<th:block th:fragment="dsfr-action(class, other_attrs)">
    <li th:remove="${(inActionGroup != null && inActionGroup) ? 'none' : 'tag'}">
        <vu:content/>
    </li>
</th:block>

<th:block th:fragment="dsfr-list-actions-item(class, other_attrs)">
    <vu:content/>
</th:block>
