<th:block th:fragment="dsfr-button(componentId, label, icon, title, v-title, loading, disabled, v-disabled, v-loading, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and (${title} != null or ${vTitle} != null)))"
          th:with="myComponentId=${componentId?:model.util.generateComponentUID('button', null, null, null)}">

    <li th:remove="${(inActionGroup != null && inActionGroup) ? 'none' : 'tag'}">
        <dsfr-button style="position: relative"
                     th:icon="${icon?:''}"
                     th::icon-only="${label==null}"
                     th:label="${label?:''}"
                     th:title="${vTitle==null ? (title?:'') : ''}"
                     th::title="${vTitle?:''}"
                     th::disabled="${disabled?:'('+vDisabled+')'}"
                     th::aria-disabled="${disabled?:'('+vDisabled+')'} + ' || ' + ${loading?:vLoading?:false}"
                     th:attr="ref=${myComponentId}, __${other_attrs}__">

        <span th:if="${loading} OR ${vLoading} != null"
              th:v-if="${loading?:vLoading}"
              class="button-icon-loader">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="vicon vicon-sm vicon-spin iconify iconify--local"
                 width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364"></path>
            </svg>
        </span>

            <vu:content/>

            <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
            <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
        </dsfr-button>
    </li>
</th:block>
