<th:block th:fragment="dsfr-button-submit(label, icon, action, title, loading, disabled, v-disabled, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
          th:with="myComponentId='button'+${action}, myLoading=${loading}?:true" >
        
        <dsfr-button style="position: relative"
                    th:icon="${icon?:''}"
                    th::icon-only="${label==null}"
                    th:label="${label?:''}"
                    th:title="${vTitle==null ? (title?:'') : ''}"
                    th::title="${vTitle?:''}"
                    th:formaction="${action}"
                    th:@click="${myLoading}?|if (this.$el.form.checkValidity()) pushPendingAction('${action}')|:''"
                    type="submit"
                    th::disabled="${disabled?:'('+vDisabled+')'}"
                    th::aria-disabled="${disabled?:'('+vDisabled+')'} + ' || ' + ${myLoading} + ' && isPendingAction(\'' + ${action} + '\')'"
                    th:attr="__${other_attrs}__">
            
            <span th:v-if="${myLoading}?|isPendingAction('${action}')|:false"
                  style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: center; cursor: default;"
                  @click.stop.prevent="">
                <v-icon name="ri-loader-4-line" animation="spin" color="black" ></v-icon>
	        </span>
            
            <vu:content/>
            
            <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
            <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
        </dsfr-button>
    </span>
</th:block>

<th:block th:fragment="dsfr-button-submit-confirm(label, icon, action, componentId, title, loading, titleMessage, confirmMessage, labelOk, labelCancel, modal_attrs, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null and ${componentId} != null"
          th:with="myLabelOk=${labelOk?:'Oui'},
                   myLabelCancel=${labelCancel?:'Non'},
                   myLoading=${loading}?:true"
          th:attr="objectKey=${model.vContext['componentStates'].addComponentState(componentId).addPrimitive('confirm',false)}">

    <dsfr-button th:icon="${icon?:''}"
                 th::icon-only="${label==null}"
                 th:label="${label?:''}"
                 th:title="${vTitle==null ? (title?:'') : ''}"
                 th::title="${vTitle?:''}"
                 th:@click="|componentStates.__${componentId}__.confirm = true|"
                 th:ref="__${componentId}__"
                 type="button"
                 th:attr="__${other_attrs}__">
        <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
        <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
    </dsfr-button>
    <dsfr-modal th:v-model:opened="|componentStates.__${componentId}__.confirm|"
                th:@close="|componentStates.__${componentId}__.confirm = false|"
                th:title="${titleMessage}"
                th::actions="|[
                    {label: '${myLabelOk}',
                     type: 'submit',
                     formaction: '${action}',
                     onClick () { ${myLoading? 'pushPendingAction(`'+action+'`)':''} }
                    },
                    {label: '${myLabelCancel}',
                     type: 'button',
                     secondary: true,
                     onClick () { componentStates.__${componentId}__.confirm = false }
                    }]|"
                th::origin="|$refs.__${componentId}__|"
                th:attr="__${modal_attrs}__">
        <template #default>
            <vu:content>
                <p vu:text="${confirmMessage}"></p>
            </vu:content>
        </template>
    </dsfr-modal>
</th:block>
