<th:block th:fragment="dsfr-button-submit(label, icon, action, title, loading, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
          th:with="myComponentId='button'+${action}" >

    <dsfr-button th:icon="${icon?:''}"
                th::icon-only="${label==null}"
                th:label="${label?:''}"
                th:title="${vTitle==null ? (title?:'') : ''}"
                th::title="${vTitle?:''}"
                th:formaction="${action}"
                type="submit"
                th:attr="__${other_attrs}__">
        <vu:content/>
        <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
        <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
    </dsfr-button>
</th:block>

<th:block th:fragment="dsfr-button-submit-confirm(label, icon, action, title, loading, titleMessage, confirmMessage, labelOk, labelCancel, actions_slot, modal_attrs, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
          th:with="myComponentId='button'+${action},
                   myLabelOk=${labelOk?:'Oui'},
                   myLabelCancel=${labelCancel?:'Non'},
                   myLoading=${loading}?:true"
          th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addPrimitive('confirm',false)}">

    <dsfr-button th:icon="${icon?:''}"
                 th::icon-only="${label==null}"
                 th:label="${label?:''}"
                 th:title="${vTitle==null ? (title?:'') : ''}"
                 th::title="${vTitle?:''}"
                 th:@click="|componentStates.${myComponentId}.confirm = true|"
                 th:ref="${myComponentId}"
                 type="button"
                 th:attr="__${other_attrs}__">
        <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
        <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
    </dsfr-button>
    <dsfr-modal th:v-model:opened="|componentStates.${myComponentId}.confirm|"
                th:@close="|componentStates.${myComponentId}.confirm = false|"
                th:title="${titleMessage}"
                th::actions="|[
                    {label: '${myLabelOk}',
                     type: 'submit',
                     formaction: '${action}',
                     onClick () { ${myLoading? 'pushPendingAction(`'+action+'`)':''} }
					},
					{label: '${myLabelCancel}',
				     type: 'button',
					 secondary: true,
					 onClick () { componentStates.${myComponentId}.confirm = false }
					}]|"
			    th::origin="|$refs.${myComponentId}|"
                th:attr="__${modal_attrs}__">
        <template #default>
            <vu:content>
                <p vu:text="${confirmMessage}"></p>
            </vu:content>
        </template>
    </dsfr-modal>
</th:block>
