<th:block th:fragment="dsfr-menu(other_attrs)" vu:alias="dsfr-menu">
  <dsfr-menu th:attr="__${other_attrs}__">
    <vu:content/>
  </dsfr-menu>
</th:block>

<th:block th:fragment="dsfr-header-menu(headermenu_attrs)" vu:alias="dsfr-header-menu">
  <dsfr-header-menu th:attr="__${headermenu_attrs}__">
    <vu:content/>
  </dsfr-header-menu>
</th:block>

<th:block th:fragment="dsfr-menu-link(menulink_attrs)" vu:alias="dsfr-menu-link">
  <dsfr-menu-link th:attr="__${menulink_attrs}__"></dsfr-menu-link>
</th:block>
