<th:block th:fragment="button-submit(label, icon, color, text-color, action, title, loading, other_attrs)"
      th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
      th:with="myComponentId='button'+${action}, myLoading=${loading}?:true" >
    <q-btn type="submit"
           th:formaction="${action}"
           th:icon="${icon?:''}"
           th:label="${label?:''}"
           th:title="${title?:''}"
           th:@click="${myLoading}?|pushPendingAction('${action}')|:''"
           th::loading="${myLoading}?|isPendingAction('${action}')|:''"
           th::round="${label==null?'true':''}"
           th:color="${color?:'primary'}"
           th:text-color="${textColor?:''}" th:attr="__${other_attrs}__">
           <vu:content><span class="sr-only" th:if="${label==null}" vu:text="${title?:''}"></span></vu:content>
    </q-btn>
</th:block>

<th:block th:fragment="button-submit(label, icon, action, title, loading, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
          th:with="myComponentId='button'+${action}" >

    <DsfrButton th:icon="${icon?:''}"
                th:icon-only="${label==null}"
                th:label="${label?:''}"
                th:title="${vTitle==null ? (title?:'') : ''}"
                th::title="${vTitle?:''}"
                th:formaction="${action}"
                type="submit"
                th:attr="__${other_attrs}__">
        <vu:content/>
        <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
        <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
    </DsfrButton>
</th:block>

<th:block th:fragment="button-submit-confirm(actions_slot, label, icon, color, text-color, action, title, loading, formId, confirmMessage, labelOk, labelCancel, other_attrs)"
      th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null and ${formId} != null"
      th:with="myComponentId='button'+${action},myLabelOk=${labelOk?:'Oui'},myLabelCancel=${labelCancel?:'Non'}, myLoading=${loading}?:true"
      th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addPrimitive('confirm',false)}">
    <q-btn th:icon="${icon?:''}" th:label="${label?:''}" th:title="${title?:''}"
           th:@click="|componentStates.${myComponentId}.confirm = true|"
           th::round="${label==null?'true':''}" th:color="${color?:'primary'}" th:text-color="${textColor?:''}" th:attr="__${other_attrs}__">
         <span class="sr-only" th:if="${label==null}" vu:text="${title?:''}"></span>
         <q-dialog th:v-model="|componentStates.${myComponentId}.confirm|" persistent>
          <q-card>
            <q-card-section class="row items-center">
            <vu:content>
              <span class="q-ml-sm" vu:text="${confirmMessage}"></span>            
            </vu:content>
            </q-card-section>
            <q-card-actions align="right" vu:slot="actions_slot">
              <q-btn flat th:label="${myLabelCancel}" color="primary" v-close-popup></q-btn>
              <q-btn type="submit" th:formaction="${action}" th:form="${formId}" th:label="${myLabelOk}" th:@click="${myLoading}?|pushPendingAction('${action}')|:''" th::loading="${myLoading}?|isPendingAction('${action}')|:''" color="primary" v-close-popup></q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
    </q-btn>
</th:block>

<th:block th:fragment="button-submit-confirm(label, icon, action, title, loading, titleMessage, confirmMessage, labelOk, labelCancel, actions_slot, other_attrs)"
          th:assert="(${label} != null or (${icon} != null and ${title} != null)) and ${action} != null"
          th:with="myComponentId='button'+${action},
                   myLabelOk=${labelOk?:'Oui'},
                   myLabelCancel=${labelCancel?:'Non'}"
          th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addPrimitive('confirm',false)}">

    <DsfrButton th:icon="${icon?:''}"
                th:icon-only="${label==null}"
                th:label="${label?:''}"
                th:title="${vTitle==null ? (title?:'') : ''}"
                th::title="${vTitle?:''}"
                th:@click="|componentStates.${myComponentId}.confirm = true|"
                th:ref="${myComponentId}"
                th:attr="__${other_attrs}__">
        <span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
        <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{ ${vTitle?:''} }}|"></span>
    </DsfrButton>
    <DsfrModal th:origin="|$refs.${myComponentId}|" size="sm" th:title="${titleMessage}">
        <vu:content>
            <p vu:text="${confirmMessage}"></p>
        </vu:content>
        <template #footer>
            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                <button class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left">
                    Label bouton
                </button>
                <button class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary">
                    Label bouton
                </button>
            </div>
        </template>
    </DsfrModal>
</th:block>
