<th:block th:fragment="autocomplete-multiple-edit(object, field, label, list, valueField, labelField, minQueryLength, autocompleteId, required, inputUrl, filterUrl, edit_content_slot, after_label_slot, input_attrs, label_attrs)" vu:alias="autocomplete-multiple" vu:selector="${viewMode=='edit'}"
	  th:assert="${object} != null and ${field} != null and ${list} != null"
	  th:with="myValueField=${valueField != null ? valueField : model.util.getIdField(list)}, 
	  myLabelField=${labelField != null ? labelField : model.util.getDisplayField(list)}, 
	  myMinQueryLength=${minQueryLength != null ? minQueryLength : 2},
	  myComponentId=${autocompleteId != null ? autocompleteId : 'autocomplete_' + object + '_' + field + '_' + list}, 
	  myLabel=${modifiableTable!=null?null:label?:model.util.label(object + '.' + field)},
      myRequired=${required != null ? required : model.util.required(object + '.' + field)},
      myInputUrl=${inputUrl != null ? inputUrl : '__@{/autocomplete/_searchByValue}__'},
      myFilterUrl=${filterUrl != null ? filterUrl : '__@{/autocomplete/_searchFullText}__'}">
	<th:block th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addList('options')}, objectKey1=${model.vContext['componentStates'].get(myComponentId).addPrimitive('loading', false)}"  />
	<th:block th:if="${rowIndex == null}">
		<th:block th:each="val : ${model.vContext[__${object}__].getTypedValue('__${field}__')}">
			<th:block 
				th:with="valueLabel=${val != null ? model.vContext[__${list}__].getById('__${myValueField}__', val)['__${myLabelField}__'] : ''}"
				th:attr="objectKey=${model.vContext['componentStates']['__${myComponentId}__']['options'].add( { 'value' : val, 'label': valueLabel})}"  >
			</th:block>
		</th:block>
	</th:block>
	<th:block th:if="${rowIndex != null}" >
		<th:block th:each="obj : ${model.vContext[__${object}__]}">
			<th:block th:each="value : ${obj.getTypedValue('__${field}__')}">
				<th:block 
					th:with="
						valueLabel=${value != null ? model.vContext[__${list}__].getById('__${myValueField}__', value)['__${myLabelField}__'] : ''}"
					th:attr="objectKey=${model.vContext['componentStates']['__${myComponentId}__']['options'].add( { 'value' : value, 'label': valueLabel})}"  >
				</th:block>
			</th:block>
		</th:block>
	</th:block>
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<vu:include-data object="${list}" field="${myValueField}"/>
	<vu:include-data object="${list}" field="${myLabelField}"/>
	<q-select
       	th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
       	th::label-width="${overridedLabelWidth?:3}"
		th:label="${myLabel}"
		th:aria-labelledby="|${myComponentId}_label|"
		th:classappend="|${myRequired?'v-field_'+'_required':''}${after_label_slot!=null?' v-field_'+'_has_after_label':''}|"
		th::error="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
		th::aria-invalid="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
        th::aria-describedby="|hasFieldsError('${object}', '${field}', ${rowIndex}) ? '${myComponentId}_desc-error' : null|"
		orientation="vertical"
		dropdown-icon="search"
		stack-label
		multiple
        use-input
        map-options
        input-debounce="300"
		emit-value
		use-chips
		th::loading="|componentStates.${myComponentId}.loading|"
        th::options="|componentStates.${myComponentId}.options|"
        th:@vue:mounted="|() => {
			$watch(function() {return ${model.util.vueDataKey(object, field, rowIndex)} },
				   (newValue, oldValue) => { loadAutocompleteById('${list}', '${myValueField}', '${myLabelField}', '${myComponentId}', '${myInputUrl}','${object}','${field}', ${rowIndex})} )
			}|"
        th:@filter="|function (val, update, abort) { searchAutocomplete('${list}', '${myValueField}', '${myLabelField}', '${myComponentId}', '${myFilterUrl}', ${myMinQueryLength}, val, update, abort)}|"
        th:attr="__${label_attrs}__,__${input_attrs}__"
     >
     <vu:quasar-label-slot label="${myLabel}" componentId="${myComponentId}" after_label_slot="after_label_slot"/>
     <vu:content-slot name="edit_content_slot"/>
     </q-select>
	<input th:v-for="|id in ${model.util.vueDataKey(object, field, rowIndex)}|" type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" th:v-bind:value="id" />
  	<input th:v-if="|${model.util.vueDataKey(object, field, rowIndex)}.length == 0|" type="hidden" th::name="${model.util.contextKey(object, field, rowIndex)}" value="" />
</th:block> 

<th:block th:fragment="autocomplete-multiple-read(object, field, label, list, valueField, labelField, minQueryLength, autocompleteId, required, inputUrl, filterUrl, edit_content_slot, after_label_slot, input_attrs, label_attrs)" vu:alias="autocomplete-multiple" vu:selector="${viewMode=='read'}" >
	<vu:select-multiple-read object="${object}" field="${field}" label="${label}" list="${list}" valueField="${valueField}" labelField="${labelField}" after_label_slot="after_label_slot" input_attrs="${input_attrs}" label_attrs="${label_attrs}" />
</th:block>