<th:block th:fragment="text-field-edit(object, field, rowIndex, label, suffix, required, edit_content_slot, after_label_slot, input_attrs, label_attrs)" 
	vu:alias="text-field" vu:selector="${viewMode=='edit'}"
	th:with="myComponentId=${model.util.generateComponentUID('textfield', object, field, rowIndex)},
	         myLabel=${label?:model.util.label(object + '.' + field)},
	         myRequired=${required != null ? required : model.util.required(object + '.' + field)}"
	th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<q-input 
		th:v-model="${model.util.vueDataKey(object, field, rowIndex)}" 
		th::name="${model.util.contextKey(object, field, rowIndex)}"
		th:suffix="${model.util.smartTypeUnit(object, field, suffix)}"
		th:maxlength="${model.util.smartTypeMaxLength(object, field)}"
		th::label-width="${overridedLabelWidth?:3}"
		th:label="${modifiableTable!=null?null:myLabel}"
		th::aria-labelledby="|'${myComponentId}_label' + (hasFieldsError('${object}', '${field}', ${rowIndex}) ? ' ${myComponentId}_desc-error' : null)|"
		th:classappend="|${myRequired?'v-field_'+'_required':''}${after_label_slot!=null?' v-field_'+'_has_after_label':''}|"
		th:aria-required="${myRequired}"
		th::error="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
        th::aria-invalid="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
		orientation="vertical"
		stack-label
		th:attr="__${label_attrs}__,__${input_attrs}__"
	>
	<vu:quasar-label-slot label="${myLabel}" componentId="${myComponentId}" after_label_slot="after_label_slot"/>
	<vu:content-slot name="edit_content_slot"/>
	</q-input>
</th:block>
<th:block th:fragment="text-field-read(object, field, rowIndex, label, suffix, required, edit_content_slot, after_label_slot, input_attrs, label_attrs)" 
    vu:alias="text-field" vu:selector="${viewMode=='read' && reactive!=true}"  th:if="${modifiableTable==null}"
    th:assert="${object} != null and ${field} != null" 
    th:with="mySuffix=${model.util.smartTypeUnit(object, field, suffix)},
             useSuffix=${__${model.util.contextGet(object, field, rowIndex)}__!='' && mySuffix!='' && mySuffix!=null}">
    <vu:label-read label=${label} label_attrs="${label_attrs}" after_label_slot="after_label_slot" >
        <span vu:text="${__${model.util.contextGet(object, field, rowIndex)}__}" th:attr="__${input_attrs}__"></span><span th:if="${useSuffix}" vu:text="${mySuffix}"></span>
    </vu:label-read>
</th:block>
<th:block th:fragment="text-field-read(object, field, rowIndex, label, suffix, required, edit_content_slot, after_label_slot, input_attrs, label_attrs)" 
    vu:alias="text-field" vu:selector="${viewMode=='read' && reactive!=true}" th:if="${modifiableTable!=null}"
    th:assert="${object} != null and ${field} != null" 
    th:with="mySuffix=${model.util.smartTypeUnit(object, field, suffix)},
             useSuffix=${__${model.util.contextGet(object, field, rowIndex)}__!='' && mySuffix!='' && mySuffix!=null}">
    <vu:include-data object="${object}" field="${field}"/>
    <span th:attr="__${input_attrs}__" >{{[[${model.util.vueDataKey(object, field, rowIndex)}]]}}</span><span th:if="${useSuffix}" th:v-if="|${model.util.contextGet(object, field, rowIndex)}!=''|" vu:text="${mySuffix}"></span>
</th:block>
<th:block th:fragment="text-field-read-reactive(object, field, rowIndex, label, suffix, required, edit_content_slot, after_label_slot, input_attrs, label_attrs)"
        vu:alias="text-field" vu:selector="${viewMode=='read' && reactive==true}" 
		th:assert="${object} != null and ${field} != null" 
		th:with="myDisplayField=${model.util.resolveDisplayField(object, field)},
		         mySuffix=${model.util.smartTypeUnit(object, field, suffix)}">
	<vu:include-data object="${object}" field="${myDisplayField}"/>
	<vu:label-read label=${label} label_attrs="${label_attrs}" >
		<span th:attr="__${input_attrs}__" >{{[[${model.util.vueDataKey(object, myDisplayField, rowIndex)}]]}}</span><template th:if="${mySuffix!='' && mySuffix!=null}" th:v-if="|${model.util.vueDataKey(object, myDisplayField, rowIndex)} != null && ${model.util.vueDataKey(object, myDisplayField, rowIndex)} != ''|"><span vu:text="${mySuffix}"></span></template>
	</vu:label-read>
</th:block>