/** Planning **/
.calendar-container{position:relative}
.q-calendar .my-event{width:98%;position:absolute;font-size:12px; align-items:flex-start}
.q-calendar .orphan-event{width:90px;position:absolute;margin-top:0px; margin-left:6px;}
.q-calendar .full-width{left:1%;width:98%!important;}
.q-calendar .left-side{left:0;width:49.75%}
.q-calendar .right-side{left:50.25%;width:49.75%}

.q-calendar-day .q-calendar-day__pane {
	overflow-y: visible; /*RDV-345*/
	/*height: 660px;*/ /*7h30-18h30*/
}

.q-calendar .q-calendar__button {
    font-size: 1rem;
}

.q-calendar .actions-event {
	position: absolute;
	top: 5px;
	right: 5px;
}

.bg-trh-nonPublie {
    background-color: #fcc63a!important;
}
.bg-trh-blocked {
    background-color: #b8b8b8!important; /** grey */
}
.bg-trh-none {
    background-color: #fafafa!important; /** grey-1 */
}
.bg-trh-publie {
    background-color: #66a838!important; /** green */
}
.bg-trh-planifie {
    background-color: #b2d39b!important; /** light-green */
}

.bg-trh-nonPublie-full {
    background-color: #fcc63a!important;
    border: solid 1px black;
}
.bg-trh-blocked-full {
    background-color: #b8b8b8!important; /** grey */
    border: solid 1px black;
}
.bg-trh-none-full {
    background-color: #fafafa!important; /** grey-1 */
    border: solid 1px black;
}
.bg-trh-publie-full {
    background-color: #66a838!important; /** green */
    border: solid 1px black;
}
.bg-trh-planifie-full {
    background-color: #b2d39b!important; /** light-green */
    border: solid 1px black;
}

.text-trh-nonPublie {
    color: #fcc63a!important;
}
.text-trh-blocked {
    color: #b8b8b8!important; /** grey */
}
.text-trh-none {
    color: #fafafa!important; /** grey-1 */
}
.text-trh-publie {
    color: #66a838!important; /** green */
}
.text-trh-planifie {
    color: #b2d39b!important; /** light-green */
}

.bg-ere-EN_COURS {
    background-color: #fcc63a!important;
}
.bg-ere-CONFIRME {
    background-color: #3D8704 !important; /** green rgaa */
}
.bg-ere-RESERVE {
    background-color: #b2d39b!important; /** light-green */
}
.text-ere-EN_COURS {
    color: #fcc63a!important;
}
.text-ere-CONFIRME {
    color: #3D8704 !important; /** green rgaa */
}
.text-ere-RESERVE {
    color: #b2d39b!important; /** light-green */
}

.q-calendar .q-chip.bg-white {	
    border: black 1px solid;
}

.publish-tabs {
	width:883px;
}
.publish-tabs-panel {
    min-height:110px;
}

.plage-label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--q-dark);
}

.tranche-supprimee {
    text-decoration: line-through;
}

