<th:block th:fragment="label-edit" vu:alias="label" vu:selector="${viewMode=='edit'}"
		th:assert="${object} != null and ${field} != null">
	<q-field
		:label-width="3"
		th:label="${model.util.label(object + '.' + field)}"
		th::error="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__')}"
		th:error-label="${uiMessageStack.hasFieldErrors('__${object}__', '__${field}__') ? uiMessageStack.objectFieldErrors[__${object}__][__${field}__] : ''}"
		th::warning="${uiMessageStack.hasFieldWarnings('__${object}__', '__${field}__')}"
		>
		 <vu:content></vu:content>
	</q-field>
	<input type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="|vueData.${object}.${field}|" />
</th:block> 

<th:block th:fragment="label-read" vu:alias="label" vu:selector="${viewMode=='read'}" 
 	 th:assert="${object} != null and ${field} != null">
	<q-field
		:label-width="3"
		th:label="${model.util.label(object + '.' + field)}"
		>
		<vu:content></vu:content>
	</q-field>
</th:block> 