<th:block th:fragment="select-edit(object,list,field,valueField)" vu:alias="select" vu:selector="${viewMode=='edit'}"
	  th:with="myValueField=${valueField != null ? valueField : model.util.getIdField(list)}, myLabelField=${valueField != null ? valueField : model.util.getDisplayField(list)}">
	<vu:include-data object="${object}" field="${field}"/>
	<vu:include-data object="${list}" field="${myValueField}"/>
	<vu:include-data object="${list}" field="${myLabelField}"/>
	<vu:label-edit object="${object}" field="${field}">
	 <q-select
			th:v-model="|vueData.${object}.${field}|" 
			th::options="|transformListForSelection('${list}', '${myValueField}', '${myLabelField}')|"
			/>
	</vu:label>
	<input type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="|vueData.${object}.${field}|" />
</th:block> 

<th:block th:fragment="select-read(object,field,list)" vu:alias="select" vu:selector="${viewMode=='read'}" >
	<vu:label-read object="${object}" field="${field}">
		<span th:text="${model.vContext[__${object}__][__${field}__]}"></span>
	</vu:label-read>
</th:block> 