<th:block th:fragment="slider-edit(object, field, min, max, step, label_attrs, input_attrs)" 
	vu:alias="slider" vu:selector="${viewMode=='edit'}"
	th:assert="${object} != null and ${field} != null"
	th:with="fieldPath=|${object}.${field}|, myMin=${min?:model.util.getMinValue(fieldPath)?:'0' }, myMax=${max?:model.util.getMaxValue(fieldPath)?:'2000'}, myStep=${step?:model.util.getStep(myMin, myMax)}" >
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label-edit th:attr="__${label_attrs}__">
		<q-slider
			th:v-model="${'vueData.' + object + '.' + field}" 
			th::min="${myMin}"
			th::max="${myMax}"
			th::step="${myStep}"
			label
			th:attr="__${input_attrs}__"
		>
		</q-slider>
	</vu:label-edit>
</th:block>
<th:block th:fragment="slider-read(object, field, min, max, step, label_attrs, input_attrs)" 
	vu:alias="slider" vu:selector="${viewMode=='read'}"
	th:assert="${object} != null and ${field} != null" 
	th:with="myMin=${min != null ? min : '0' }, myMax=${max != null ? max : '2000'}, myStep=${step != null ? step : '1'}" >
	<vu:text-field-read object="${object}" field="${field}" />
</th:block>