<th:block th:fragment="text-field-edit" vu:alias="text-field" vu:selector="${viewMode=='edit'}">
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label object="${object}" field="${field}">
		<q-input 
			th:v-model="${'vueData.' + object + '.' + field}" 
			th:name="${'vContext['+object+']['+ field +']'}" 
			 >
		</q-input>
	</vu:label>
</th:block> 

<th:block th:fragment="text-field-read" vu:alias="text-field" vu:selector="${viewMode=='read'}">
	<vu:include-data object="${object}" field="${field}"/>
	<vu:label object="${object}" field="${field}">
		<span th:text="${model.vContext[__${object}__][__${field}__]}"></span>
	</vu:label>
</th:block>