<th:block th:fragment="agenda-publish-plage" vu:alias="agenda-publish-plage" vu:selector="${true}" 
    th:attr="objectKey=${model.vContext['componentStates'].addComponentState('publishItemModal').addPrimitive('opened', false)},
    objectKey=${model.vContext['componentStates']['publishItemModal'].addPrimitive('selectedTab', 'planifie')}">

    <vu:include-data object="publicationTrancheHoraireForm" field="publishNow" modifiable="true"/>
    <q-dialog th:v-model="componentStates.publishItemModal.opened" >
        <q-card class="bg-white v-modal publishPlageModal" >
            <q-toolbar class="bg-primary">
                <q-toolbar-title class="text-white">Gérer la publication</q-toolbar-title>
                <div class="col-1"></div>
                <q-btn flat dense v-close-popup icon="ri-close-line" text-color="white" >Fermer</q-btn>
                
            </q-toolbar>
            <q-card-section><i>
                Selectionner la date de début et la date de fin (incluse) des créneaux à publier.<br/>
                Vous pouvez soit publier immédiatement, soit choisir une date et heure de publication pour planifier la publication.<br/>
                <br/>
                La publication s'appliquera à l'ensemble des créneaux qui ne sont pas encore publiés entre ces deux dates.<br/>
                La date de publication des créneaux déjà planifiés sera mise à jour.
                Les créneaux déjà publiés ne seront pas modifiés.<br/>
                </i>
            </q-card-section>
            <q-card-section class="q-layout-padding">
                <vu:grid>
                    
                    <vu:date-edit object="publicationTrancheHoraireForm" field="dateLocaleDebut" label="Publier les créneaux entre le" />
                    <vu:grid-cell col=1>
                        <vu:date-edit object="publicationTrancheHoraireForm" field="dateLocaleFin" label="et le (date incluse)" />
                    </vu:grid-cell>                            
                    
                    <vu:grid-cell>
                      <div class="q-mb-sm">Mode de publication :</div>
                      <q-card >
                          <q-tabs
                              v-model="componentStates.publishItemModal.selectedTab"
                              dense
                              class="bg-grey-3"
                              active-class="shadow-2"
                              active-color="primary-invert"
                              active-bg-color="primary"
                              indicator-color="primary-invert"
                              align="justify"
                              narrow-indicator
                            >
                              <q-tab class="col-6" name="planifie" label="Planifier la publication" ></q-tab>
                              <q-tab class="col-6" name="publie" label="Publier immédiatement" ></q-tab>
                           </q-tabs>
                            <q-separator ></q-separator>
                            <q-tab-panels v-model="componentStates.publishItemModal.selectedTab" animated>
                              <q-tab-panel name="planifie" class="publish-tabs-panel">
                                <div class="row q-gutter-md ">
                                    <vu:date-edit object="publicationTrancheHoraireForm" field="publicationDateLocale" label="Publier dans l'agenda le" class="col"/>
                                    <vu:include-data object="publicationTrancheHoraireForm" field="publicationMinutesDebut_fmt" />
                                    <vu:text-field-edit object="publicationTrancheHoraireForm" field="publicationMinutesDebut" label="à"  class="col">
										<vu:slot name="edit_content_slot">
	                                        <template v-slot:append>
	                                            <q-icon name="access_time" class="cursor-pointer">
	                                                <q-popup-proxy :breakpoint="600" transition-show="scale" transition-hide="scale" ref='datetime_publicationTrancheHoraireForm_publicationMinutesDebut' >
	                                                     <q-time 
	                                                        v-model="vueData.publicationTrancheHoraireForm.publicationMinutesDebut"
	                                                        :landscape="$q.screen.gt.xs"
	                                                        mask="HH:mm"
	                                                        format24h
	                                                        :minute-options="[0, 15, 30, 45]"
	                                                        @update:model-value="() => $refs.datetime_publicationTrancheHoraireForm_publicationMinutesDebut.hide()"
	                                                        ></q-time> 
	                                                </q-popup-proxy>
	                                            </q-icon>
	                                        </template>
										</vu:slot>
                                    </vu:text-field-edit>
                                </div>
                              </q-tab-panel>
                              <q-tab-panel name="publie" class="publish-tabs-panel">
                                <i>Sera publié dès que possible<br/>
                                (un délai de sécurité d'1 minute à 2 minutes sera appliqué)</i>
                              </q-tab-panel>
                            </q-tab-panels>
                        </q-card>
                        </vu:grid-cell>
                   </vu:grid>
            </q-card-section>
            <q-card-section class="row justify-end q-gutter-md">
                <q-btn color="primary" outline label="Annuler" v-close-popup></q-btn>
                <q-btn color="primary" label="Valider" @click="doPublishPlageHoraires" :loading="isPendingAction()"></q-btn>
            </q-card-section>
        </q-card>
    </q-dialog>
</th:block>
