/******** CSS SPECIFIQUE A CERTAINES PAGES *******/
:root {
	--q-color-primary-invert: rgba(255, 255, 255, 0.9);
	--q-color-secondary-invert: rgba(255, 255, 255, 0.9);
	--q-color-accent-invert:	rgba(255, 255, 255, 0.9);
}

.text-primary-inverted  {
	color:var(--q-color-primary-invert) !important; 
}

.text-secondary-inverted  {
	color:var(--q-color-secondary-invert) !important; 
}

.text-accent-inverted  {
	color:var(--q-color-accent-invert) !important; 
}

.v-field__required .q-field__label::after {
  content: " *";
  color: var(--q-color-negative);
} 

.notifications a.q-item {
	text-decoration: none;
	color: var(--q-color-body-color) !important;
}

.not-mini .eq-mini { /* can't revert display:none (on IE of course), we must use a concrete selector*/
	display:none;
}

.mini {
	transition: top .3s;
    z-index:20; /* better foreground big header */
    position:fixed;
    top:0;
    right:0;
    left:0;
    width:auto;
}

.mini.visible {
	/** may be use to detect mini is visible*/
}

.mini .ne-mini {
	display:none;
}

.mini .eq-mini {
	/*display: unset; /* can't revert display:none (on IE of course), we must use a concrete selector : .not_mini*/
}


.withFab .q-card-main {
	position: relative;
    padding-top: 35px;
}

.withFab .fab-block,
.withFab .fab-block {
	position: absolute;
	top: 0;
	right: 16px;
	transform: translateY(-50%);
	z-index: 1000;
	height:3em;
	width:3em;
}

img.avatar {
	object-fit: cover;
}

/*
.q-item-avatar, .q-item-avatar img {
    object-fit: cover;
}
*/

/**
 * Tables
 */
/*
.q-table-container {
	background:#fff !important;
}
*/
.table-primary thead {
	background:var(--q-color-primary) !important;
}
.table-secondary thead {
	background:var(--q-color-secondary) !important;
}
.table-accent thead {
	background:var(--q-color-accent) !important;
}

.q-table__container th {
  font-size: 18px; /*same as card-title*/
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;
}

.table-primary th {
	color:var(--q-color-primary-invert) !important;
}
.table-secondary th {
	color:var(--q-color-secondary-invert) !important;
}
.table-accent th {
	color:var(--q-color-accent-invert) !important;
}


.q-table-container th.sortable:hover,
.q-table-container th.sorted {
  color: rgba(255,255,255,1);  
}
.table-tertiary th.sortable:hover,
.table-tertiary th.sorted {
	color: rgba(60, 60, 60, 1);
}

.table-primary .q-btn {
	background: var(--q-color-primary);
	color:var(--q-color-primary-invert);
}

.table-secondary .q-btn {
	background: var(--q-color-secondary);
	color:var(--q-color-secondary-invert);
}
.table-tertiary .q-btn {
	background: var(--q-color-tertiary);
	color:var(--q-color-tertiary-invert);
}


/**
 * Facets
 */

.facets .facetValues .facetValue, .facets .selectedFacets .q-chip {
	cursor: pointer;
}

.facets .facetValues .facetValue span{
	width: 100%;
	height: 100%;
}

.facets .q-item--clickable {
    border-left: 3px solid lightgrey;
}

.facets .q-item--clickable:hover {
    border-left: 3px solid var(--q-color-primary);
    color : var(--q-color-primary);
}

.facets .q-list-dense .q-list-header {
	padding-bottom:5px;
	min-height: 25px;
}

.facets .q-chip {
	font-size: 1rem;
}

.col-break {
	margin:0 !important;
	width:100%;
}

.no-touch .showButtonOnHover:hover > .q-btn,
.no-touch tr:hover .showButtonOnHover > .q-btn {
  opacity: 1;
  transition: .5s;
}

.no-touch .showButtonOnHover > .q-btn {
  opacity: 0;
  transition: .5s;
}
/*
.q-table .q-btn {
	text-align:right;
}
*/

