<th:block
        th:fragment="dsfr-table(list, componentId, title, vTitle, selectable, pagination, rowKey, rowsPerPage, sortUrl, sortBy, descending, noResultLabel, actions_slot, header_slot, table_slot, table_attrs)"
        th:assert="${componentId} != null and (${title} != null or ${vTitle} != null) and !(${sortUrl} != null and ${sortBy} != null) and !(${descending} != null and ${sortBy} == null)"
        th:with="tableKey=${list},
                 rowIndex='(idx - 1)',
                 listSize=${model.vContext[__${list}__].size()},
                 mySelectable=${selectable?:false},
                 myPagination=${pagination?:true},
                 myRowKey=${rowKey?:model.util.getIdField(list)},
	             myRowsPerPage=${rowsPerPage?:10},
	             myAutoColClass=${autoColClass?:false}">

    <th:block th:attr="objectKey=${model.vContext['componentStates'].addComponentState(componentId).addList('columns')},
                       objectKey=${model.vContext['componentStates'][__${componentId}__].addList('sortableRows')},
                       objectKey=${model.vContext['componentStates'][__${componentId}__].addList('selected')},
                       objectKey=${model.vContext['componentStates'][__${componentId}__][loading] = false },
                       objectKey=${model.vContext['componentStates'][__${componentId}__].addObject('pagination', {'page': 0 , 'rowsPerPage' : myRowsPerPage, 'componentId' : componentId, 'listKey' : list})}"
              th:remove="all"/>
    <th:block th:if="${sortUrl != null}"
              th:attr="objectKey=${model.vContext['componentStates'][__${componentId}__]['pagination'].put('sortUrl', sortUrl)}"
              th:remove="all"/>
    <th:block th:if="${sortUrl != null}"
              th:attr="objectKey=${model.vContext['componentStates'][__${componentId}__]['pagination'].put('rowsNumber', listSize)}"
              th:remove="all"/>
    <th:block th:if="${sortBy != null}"
              th:attr="objectKey=${model.vContext['componentStates'][__${componentId}__]['pagination'].put('sortBy', sortBy)}"
              th:remove="all"/>
    <th:block th:if="${descending != null}"
              th:attr="objectKey=${model.vContext['componentStates'][__${componentId}__]['pagination'].put('descending', descending)}"
              th:remove="all"/>

    <dsfr-custom-data-table th:title="${vTitle==null?title?:'':''}" th::title="${vTitle?:''}"
                            th::headers-row="|componentStates.${componentId}.columns|"
                            th::rows="|dsfrTableRows('${componentId}')|"
                            th:row-key="${myRowKey}"
                            th::pagination="${myPagination}"
                            th::rows-per-page="|componentStates.${componentId}.pagination.rowsPerPage|"
                            th::sortable-rows="|componentStates.${componentId}.columns.filter(o => o.sortable).map(o => o.key)|"
                            th:v-model:selection="|componentStates.${componentId}.selected|"
                            th::selectable-rows="${mySelectable ? 'true' : 'false'}"
                            th:v-model:current-page="|componentStates.${componentId}.pagination.page|"
                            th:no-result-label="${noResultLabel?:'Aucun résultat'}"
							th:@update:sorted-by="${sortUrl != null ? 'sortedBy => dsfrHandleSortedByChange(sortedBy, ''__${componentId}__'')' : null}"
							th:@update:sorted-desc="${sortUrl != null ? 'sortedDesc => dsfrHandleSortedDescChange(sortedDesc, ''__${componentId}__'')' : null}"
							th::sort-fn="${sortUrl != null ? '(a,b) => 0' : null}"
                            th:attr="__${table_attrs}__">
        <vu:content-slot name="table_slot" th:with="label=null, title=null, vTitle=null"/>
        <template #header="{ key, label }">
            <vu:content-slot name="header_slot" th:with="label=null, title=null, vTitle=null"/>
        </template>
        <template #cell="{ colKey, cell, idx }">
            <vu:content></vu:content>
            <vu:dsfr-column name="action" label="Actions"
                            sortable="false" align="right"
                            hideLabel="true"
                            th:if="${actions_slot != null}">
                <div class="flex gap--sm">
                    <vu:content-slot name="actions_slot" th:with="label=null, title=null, vTitle=null"/>
                </div>
            </vu:dsfr-column>
        </template>
    </dsfr-custom-data-table>

</th:block>