/* Corrige la taille de la selection du nombre d’éléments par page  */
.fr-table .fr-select {
    max-width: min-content;
}

/* Corrige l’alignement des colonnes lorsqu’on ajoute quelque chose dans le header */
.sortable-header {
    align-items: center;
}

/* */
span.required {
    color: var(--text-default-error)
}

/* */
.readonly > .fr-label {
    color: var(--text-action-high-grey);
    font-weight: 500;
    padding-bottom: .5rem;
}