/* Corrige la taille de la selection du nombre d’éléments par page  */
.fr-table .fr-select {
    max-width: min-content;
}

/* Corrige l’alignement des colonnes lorsqu’on ajoute quelque chose dans le header */
.sortable-header {
    align-items: center;
}

.fr-menu__list .fr-nav__link:not(:disabled) {
    color: var(--text-action-high-blue-france);
}

.fr-menu__list .fr-nav__link:not(:disabled) {
    color: var(--text-action-high-blue-france);
}
