<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyyMMdd} %d{HH:mm:ss} [%t] %-5p %-11c{1} - %m %x %n" />
		</layout>
	</appender>
	
	<appender name="FILE_LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="orchestra.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyyMMdd} %d{HH:mm:ss} [%t] %-5p %-11c{1} - %m %x %n" />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="STDOUT"/>
	</root>
</log4j:configuration>