<th:block th:fragment="dsfr-accordion(componentId, opened, other_attrs)"
          vu:alias="dsfr-accordion"
          th:assert="${componentId} != null or (${componentId == null} and ${isAccordionGroup})">
    <th:block th:if="${isAccordionsGroup}">
        <dsfr-accordion th:attr="__${other_attrs}__">
            <vu:content th:with="title=null"/>
        </dsfr-accordion>
    </th:block>
    <th:block th:unless="${isAccordionsGroup}">
        <th:block th:if="${opened == null or opened == false}" th:with="o=${model.vContext['componentStates'].addComponentState(componentId).addPrimitive('expand', -1)}"/>
        <th:block th:if="${opened == true}" th:with="o=${model.vContext['componentStates'].addComponentState(componentId).addPrimitive('expand', 0)}"/>
        <dsfr-accordions-group th:v-model="|componentStates.__${componentId}__.expand|">
            <dsfr-accordion th:attr="__${other_attrs}__">
                <vu:content th:with="title=null"/>
            </dsfr-accordion>
        </dsfr-accordions-group>
    </th:block>
</th:block>

<th:block th:fragment="dsfr-accordions-group(componentId, other_attrs)"
          vu:alias="dsfr-accordions-group"
          th:assert="${componentId} != null"
          th:with="isAccordionsGroup=true, componentIdGroup=${componentId},
                   o=${model.vContext['componentStates'].addComponentState(componentIdGroup).addPrimitive('expand', '')}">
    <dsfr-accordions-group th:attr="__${other_attrs}__" th:v-model="|componentStates.__${componentId}__.expand|">
        <vu:content/>
    </dsfr-accordions-group>
</th:block>
