<th:block th:fragment="dsfr-dialog(title, v-title, componentId, key, actions_slot, other_attrs)"
          th:assert="${(title != null or vTitle != null) and !(key != null and componentId != null) and !(key == null and componentId == null)}"
>
    <th:block th:if="${componentId != null and key == null}"
              th:attr="o=${model.vContext['componentStates'].addComponentState(componentId).addPrimitive('opened', false)}"/>

    <dsfr-modal th:title="${vTitle==null ? (title?:'') :''}" th::title="${vTitle?:''}"
                th:v-model:opened="${componentId != null ? 'componentStates.__${componentId}__.opened' : 'vueData.__${key}__'}"
                th:@close="${componentId != null ? 'componentStates.__${componentId}__.opened = false' : 'vueData.__${key}__ = false'}"
                th:attr="__${other_attrs}__">
        <vu:content></vu:content>
        <template #footer>
            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm fr-btns-group--icon-left">
                <vu:content-slot name="actions_slot"/>
            </ul>
        </template>
    </dsfr-modal>
</th:block>