<th:block th:fragment="dsfr-messages(class, small)"
          th:with="smallClass=${(small!=null && small)?'fr-alert--sm':''}, pClass=${(small!=null && small)?'':'fr-alert__title'}">
    <div v-if="uiMessageStack.globalErrors && uiMessageStack.globalErrors.length > 0"
         th:classappend="${class}"
         role="alert"
         th:class="|fr-alert fr-alert--error ${smallClass}|"
         v-cloak
    >
        <p th:class="${pClass}" v-for="message in uiMessageStack.globalErrors">{{message}}</p>
    </div>
    <div v-if="uiMessageStack.globalWarnings && uiMessageStack.globalWarnings.length > 0"
         th:classappend="${class}"
         role="status"
         th:class="|fr-alert fr-alert--warning ${smallClass}|"
         v-cloak
    >
        <p th:class="${pClass}" v-for="message in uiMessageStack.globalWarnings">{{message}}</p>
    </div>
    <div v-if="uiMessageStack.globalInfos && uiMessageStack.globalInfos.length > 0"
         th:classappend="${class}"
         role="status"
         th:class="|fr-alert fr-alert--info ${smallClass}|"
         v-cloak
    >
        <p th:class="${pClass}" v-for="message in uiMessageStack.globalInfos">{{message}}</p>
    </div>
    <div v-if="uiMessageStack.globalSuccess && uiMessageStack.globalSuccess.length > 0"
         th:classappend="${class}"
         role="status"
         th:class="|fr-alert fr-alert--success ${smallClass}|"
         v-cloak
    >
        <p th:class="${pClass}" v-for="message in uiMessageStack.globalSuccess">{{message}}</p>
    </div>
</th:block>
