<th:block th:fragment="dsfr-block(title, subtitle, dontUseHeading, top_left_slot, top_right_slot, content_attrs)"
	th:with="currentBlockLevel=${dontUseHeading==true?-1:(currentBlockLevel != null ? currentBlockLevel+1 : 1)}"
	th:assert="${title} != null">
	<div class="fr-col-12">
		<div class="fr-px-0">
			<div class="fr-grid-row fr-col fr-grid-row--middle">
				<h1  vu:text="${title?:''}" th:if="${currentBlockLevel == 1}"></h1>
				<h2  vu:text="${title?:''}" th:if="${currentBlockLevel == 2}"></h2>
				<h3  vu:text="${title?:''}" th:if="${currentBlockLevel == 3}"></h3>
				<h4  vu:text="${title?:''}" th:if="${currentBlockLevel == 4}"></h4>
				<h5  vu:text="${title?:''}" th:if="${currentBlockLevel == 5}"></h5>
				<h6  vu:text="${title?:''}" th:if="${currentBlockLevel == 6}"></h6>
				<div vu:text="${title?:''}" th:if="${dontUseHeading == true}" />
				<div class="text-subtitle2" vu:text="${subtitle?:''}" />
			</div>
			<div class="fr-grid-row fr-col fr-grid-row--middle">
				<div class="text-subtitle2" vu:text="${subtitle?:''}" th:if="${subtitle!=null}" />
				<div class="text-subtitle2" th:text="${'{{'+vSubtitle+'}}'?:''}" th:if="${vSubtitle!=null}" />
			</div>
		</div>
		<div class="fr-grid-row fr-grid-row--middle">
			<div vu:slot="top_left_slot" th:with="title=null,subtitle=null,vTitle=null,rowIndex=null"></div>
			<div class="fr-col"></div>
			<div vu:slot="top_right_slot" th:with="label=null,title=null,vTitle=null,rowIndex=null"></div>
		</div>
		<div class="fr-grid-row fr-col-12" th:attr="__${content_attrs}__">
			<th:block
				th:with="title=null,subtitle=null,dontUseHeading=null, top_left_slot=null,top_left_slot=null, content_attrs=null ">
				<vu:content />
			</th:block>
		</div>
	</div>
</th:block>