<th:block th:fragment="dsfr-geolocation-edit(object, field, label, suffix, required, nameField, input_slot, after_label_slot, input_attrs, label_attrs, map_attrs)" 
	vu:alias="dsfr-geolocation" vu:selector="${viewMode=='edit'}"
	th:with="myLabel=${label?:model.util.label(object + '.' + field)},
	 myRequired=${required != null ? required : model.util.required(object + '.' + field)}"
	th:assert="${object} != null and ${field} != null">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<vu:include-data th:if="${nameField}" object="${object}" field="${nameField}" />
	<vu:dsfr-label-edit label=${label}  required="${myRequired}" after_label_slot="after_label_slot" label_attrs="${label_attrs}" >
		<div class="row full-width q-gutter-md">
			<v-geopoint-input th:v-model="|vueData.${object}.${field}|" th:class="${myRequired}?'v-field__required'" th:attr="__${input_attrs}__">
				<div class="flex gap" style="margin-left: 15px; margin-bottom: 10px;" vu:slot="input_slot">
					<span><dsfr-input label="Longitude" label-visible th:v-model.number="|vueData.${object}.${field}.lon|"></dsfr-input></span>
					<span><dsfr-input label="Latitude" label-visible th:v-model.number="|vueData.${object}.${field}.lat|"></dsfr-input></span>
				</div>
			</v-geopoint-input>
			<input type="hidden" th:name="|vContext[${object}][${field}]|"  th:v-if="|vueData.${object}.${field}!=null|" th:v-bind:value="|vueData.${object}.${field}._v_inputValue|" />
			
			<v-map  tabindex="1" th:id="|map_${object}_${field}|" :initial-zoom-level="11" search th:attr="__${map_attrs}__" >
				<v-map-layer th::object="|vueData.${object}|" th:field="${field}" th:name-field="${nameField}" marker-color="#027BE3" marker-size="40" object-editable fit-on-data-update></v-map-layer>
			</v-map>
		</div>
	</vu:dsfr-label-edit>
</th:block>
<th:block th:fragment="dsfr-geolocation-read(object, field, label, suffix, required, nameField, after_label_slot, input_attrs, label_attrs, map_attrs)" 
	vu:alias="dsfr-geolocation" vu:selector="${viewMode=='read'}"
	th:assert="${object} != null and ${field} != null" 
	th:with="mySuffix=${model.util.smartTypeUnit(object, field, suffix)}, useSuffix=${model.vContext[__${object}__][__${field}__]!='' && mySuffix!=''}">
	<vu:label-read label=${label} after_label_slot="after_label_slot" label_attrs="${label_attrs}" >
		<v-map  tabindex="1" th:id="|map_${object}_${field}|" :initial-zoom-level="11" th:attr="__${map_attrs}__" >
			<v-map-layer th:if="${nameField}" th::object="|{'geoLocation' : '${model.vContext[__${object}__][__${field}__]}', 'tooltip' : '${model.vContext[__${object}__][__${nameField}__]}' }|" field="geoLocation" name-field="tooltip" marker-color="#027BE3"></v-map-layer>
			<v-map-layer th:unless="${nameField}" th::object="|{'geoLocation' : '${model.vContext[__${object}__][__${field}__]}'}|" field="geoLocation" marker-color="#027BE3"></v-map-layer>
		</v-map>
	</vu:label-read>
</th:block>