<th:block th:fragment="dsfr-date-edit(object, field, label, format, required, input_attrs)" vu:alias="dsfr-date"
          vu:selector="${viewMode=='edit' && (readonly==null || !readonly)}"
          th:with="myLabel=${modifiableTable!=null?null:label?:model.util.label(object + '.' + field)},
                   myFormat=${format?: model.util.getUiDatetimeFormat(object + '.' + field)?: 'dd/MM/yyyy'},
      			   myRequired=${required != null ? required : model.util.required(object + '.' + field)}"
          th:assert="${object} != null and ${field} != null">
    <vu:include-data object="${object}" field="${field}" modifiable="true"/>
    <dsfr-input-group type="date"
                      th:v-bind:model-value="|dsfrDecodeDate(${model.util.vueDataKey(object, field, rowIndex)}, '${myFormat}')|"
                      th:@update:model-value="|function (newValue) { ${model.util.vueDataKey(object, field, rowIndex)} = newValue }|"
                      th:label="${myLabel}"
                      th::label-visible="${myLabel!=null}"
                      th:required="${myRequired}"
                      th::name="${model.util.contextKey(object, field, rowIndex)}"
                      th::is-invalid="|hasFieldsError('${object}', '${field}', ${rowIndex})|"
                      th::error-message="|getErrorMessage('${object}', '${field}', ${rowIndex})|"
                      th:attr="__${input_attrs}__">
        <vu:content/>
    </dsfr-input-group>
</th:block>

<th:block
        th:fragment="dsfr-date-read(object, field, label, format, required, input_attrs)"
        vu:alias="dsfr-date" vu:selector="${viewMode=='read' || (readonly!=null && readonly)}">
    <vu:dsfr-text-field-read object="${object}"
                             field="${field}"
                             label="${label}"
                             input_attrs="${input_attrs}"/>
</th:block>