<th:block th:fragment="dsfr-checkbox-edit(object, field, label, uncheckedValue, required, input_attrs)" vu:alias="dsfr-checkbox"
          vu:selector="${viewMode=='edit' && (readonly==null || !readonly)}"
          th:assert="${object} != null and ${field} != null"
          th:with="myRequired=${required != null ? required : model.util.required(object + '.' + field)},
                   myUncheckedValue=${uncheckedValue?:false},
                   myLabel=${label?:model.util.label(object + '.' + field)}">
    <vu:include-data object="${object}" field="${field}" modifiable/>
    <dsfr-custom-checkbox th:label="${myLabel}"
                          value="true"
                          th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
                          th::name="${model.util.contextKey(object, field, rowIndex)}"
                          th::required="${required}"
                          th::error-message="|getErrorMessage('${object}', '${field}', ${rowIndex})|"
                          th:attr="__${input_attrs}__"
    >
        <vu:content/>
    </dsfr-custom-checkbox>
    <input type="hidden"
           th:v-if="|${model.util.vueDataKey(object, field, rowIndex)} !== true|"
           th:name="${model.util.contextKey(object, field, rowIndex)}"
           th:value="${myUncheckedValue}">
</th:block>


<th:block th:fragment="dsfr-checkbox-read(object, field, label, input_attrs)" vu:alias="dsfr-checkbox"
          th:with="myLabel=${label?:model.util.label(object + '.' + field)}"
          vu:selector="${viewMode=='read' || (readonly!=null && readonly)}">
    <vu:include-data object="${object}" field="${field}"/>
    <dsfr-custom-checkbox th:label="${myLabel}"
                          th:v-model="${model.util.vueDataKey(object, field, rowIndex)}"
                          th:name="${model.util.contextKey(object, field, rowIndex)}"
                          disabled
                          th:attr="__${input_attrs}__"
    >
        <vu:content/>
    </dsfr-custom-checkbox>
</th:block>
