<th:block th:fragment="dsfr-slider-edit(object, field, label, min, max, step, required, input_attrs)"
		  vu:alias="dsfr-slider"
		  vu:selector="${viewMode=='edit' && (readonly==null || !readonly)}"
		  th:assert="${object} != null and ${field} != null"
		  th:with="fieldPath=|${object}.${field}|,
	  			   myLabel=${modifiableTable!=null ? null : (label?:model.util.label(object + '.' + field))},
		 		   myMin=${min?:model.util.getMinValue(fieldPath)?:'0' },
		           myMax=${max?:model.util.getMaxValue(fieldPath)?:'2000'},
		           myStep=${step?:model.util.getStep(myMin, myMax)},
			   	   myRequired=${required != null ? required : model.util.required(object + '.' + field)}" >
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<dsfr-range
			th:label="${myLabel}"
			th:required="${myRequired}"
			th:v-model="${'vueData.' + object + '.' + field}"
			th::min="${myMin}"
			th::max="${myMax}"
			th::step="${myStep}"
			th:attr="__${input_attrs}__"
	>
		<vu:content/>
	</dsfr-range>
	<input type="hidden" th:name="|vContext[${object}][${field}]|" th:v-bind:value="|vueData.${object}.${field}|" />
</th:block>

<th:block th:fragment="dsfr-slider-read(object, field, label, min, max, step, required, input_attrs)"
	vu:alias="dsfr-slider" vu:selector="${viewMode=='read' || (readonly!=null && readonly)}"
	th:assert="${object} != null and ${field} != null" >
	<vu:dsfr-text-field-read object="${object}" field="${field}" label="${label}" input_attrs="${input_attrs}" />
</th:block>