<th:block th:fragment="radio-edit(object, field, label, list, valueField, labelField, filterFunction, layout, required, input_attrs)" vu:alias="radio" vu:selector="${viewMode=='edit'}"
		  th:assert="${object} != null and ${field} != null and ${list} != null"
		  th:with="myValueField=${valueField != null ? valueField : model.util.getIdField(list)},
		  		   myLabelField=${labelField != null ? labelField : model.util.getDisplayField(list)},
		  		   inline=${(layout != null && layout == 'horizontal') ? true : false },
	  			   myRequired=${required != null ? required : model.util.required(object + '.' + field)}">
	<vu:include-data object="${object}" field="${field}" modifiable="true"/>
	<vu:include-data object="${list}" field="${myValueField}"/>
	<vu:include-data object="${list}" field="${myLabelField}"/>

	<!-- Les options attendues sont les props à passer à DsfrRadioButton -->
	<DsfrRadioButtonSet th:legend="${label}"
						th:required="${required}"
						th::inline="${inline}"
						th::options="|transformListForSelection('${list}', '${myValueField}', '${myLabelField}', ${filterFunction?:null})|"
						th::error-message="|getErrorMessage('${object}', '${field}', ${rowIndex})|"
						th:v-model="|vueData.${object}.${field}|"
						th:name="|vContext[${object}][${field}]|"
						th:attr="__${input_attrs}__"
	>
	</DsfrRadioButtonSet>
</th:block>

<th:block th:fragment="radio-read(object, field, label, list, valueField, labelField, filterFunction, layout, required, edit_content_slot, after_label_slot, input_attrs, label_attrs)" vu:alias="radio" vu:selector="${viewMode=='read'}" >
	<vu:select-read object="${object}" field="${field}" label="${label}" list="${list}" valueField="${valueField}" labelField="${labelField}" after_label_slot="after_label_slot"  label_attrs="${label_attrs}" input_attrs="${input_attrs}"/>
</th:block>