<th:block th:fragment="block(title, subtitle, icon, withFab, header_attrs, content_attrs, card_attrs)" 
	th:assert="${title} != null">
	<div th:class="${'q-card q-my-md bg-white ' + ((withFab!=null && withFab)?'withFab':'')}" th:attr="__${card_attrs}__">
		<div class="q-card-container row no-wrap" th:attr="__${header_attrs}__">
			<div class="col column">
				<div class="q-card-title" th:text="${title?:''}" />
				<div class="q-card-subtitle" th:text="${subtitle?:''}" />
			</div>
			<div class="col-auto self-center q-card-title-extra" th:if="${icon != null}" ><q-icon th:name="${icon}"></q-icon></div>
		</div>
		<div class="q-card-separator"></div>
		<div class="q-card-main q-card-container" th:attr="__${content_attrs}__">
			<vu:content/>
		</div>
	</div>
</th:block> 