<th:block th:fragment="block(title, subtitle, icon, withFab, actions_slot, header_attrs, content_attrs, card_attrs)" 
	th:assert="${title} != null">
	<div class="col-12">
		<div th:class="${'q-card bg-white ' + ((withFab!=null && withFab)?'withFab':'')}" th:attr="__${card_attrs}__">
			<div class="q-card__section" th:attr="__${header_attrs}__">
				<q-item>
					<q-item-section>
						<div class="text-h6" vu:text="${title?:''}" />
						<div class="text-subtitle2" vu:text="${subtitle?:''}" />
					</q-item-section>
					<q-item-section side vu:slot="actions_slot"><q-icon th-if="${icon != null}" th:name="${icon}"></q-icon></q-item-section>
				</q-item>
			</div>
			<div class="q-separator q-separator--horizontal"></div>
			<div class="q-card__section q-pa-md" th:attr="__${content_attrs}__">
			  <th:block th:with="actions_slot=null, header_attrs=null,content_attrs=null,card_attrs=null">
				<vu:content />
		      </th:block>
			</div>
		</div>
	</div>
</th:block> 