<th:block th:fragment="head(title, quasarVersion, vueJsVersion, vertigoUiVersion)" >
		<meta charset="utf8">
		<vu:head-meta quasarVersion="${quasarVersion}" vueVersion="${vueJsVersion}" vertigoUiVersion="${vertigoUiVersion}"/>
		<vu:content/>
		<title vu:text="${title}"></title>		
	</head>
</th:block>

<th:block th:fragment="head-meta(vuejsDevMode, quasarVersion, vueVersion, vertigoUiVersion)" 
        th:with="isVuejsDevMode=${vuejsDevMode != null ? vuejsDevMode : false},
                 myQuasarVersion=${quasarVersion?:'2.16.5'}, myVueJsVersion=${vueVersion?:'3.4.31'}, myVertigoUiVersion=${vertigoUiVersion?:'4.2.0'}">
		<link th:href="@{/vertigo-ui/static/3rdParty/roboto/v20/css/roboto.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/materialIcons/v142/css/materialIconsOutlined.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/materialIcons/v142/css/materialIcons.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/use.fontawesome.com/releases/v6.5.2/css/all.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/ionicons@4.6.4-1/dist/css/ionicons.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@__${myQuasarVersion}__/dist/quasar.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/vertigo-ui/static/css/vertigo-ui.css?v=__${myVertigoUiVersion}__}" rel="stylesheet" type="text/css"/>
		
		<script th:if="${!isVuejsDevMode}" th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/vue@__${myVueJsVersion}__/dist/vue.global.prod.js}"></script>
        <script th:if="${isVuejsDevMode}" th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/vue@__${myVueJsVersion}__/dist/vue.global.js}"></script>
    	<script th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js}" ></script>
</th:block>