<!-- 
Ui Messages.
-->
<th:block th:fragment="messages(block, notify, withFields)" 
th:with="isBlock=${block?:!(notify?:false)}, isNotify=${notify?:!isBlock}"
th:assert="${withFields} == null"> <!-- withFields unsupported yet -->
	<th:block th:if="isNotify">
		<!-- isNotify unsupported yet -->
	</th:block>
	<th:block th:if="isBlock">
		<div v-if="uiMessageStack.globalErrors && uiMessageStack.globalErrors.length > 0" class="q-card bg-negative text-white col">
			<div class="q-card-main">
				<div class="q-list">
					<div v-for="message in uiMessageStack.globalErrors" class="q-item">
						<div class="q-item-main">
							<div class="q-item-label" >{{message}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="uiMessageStack.globalWarnings && uiMessageStack.globalWarnings.length > 0" class="q-card bg-warning text-white col">
			<div class="q-card-main">
				<div class="q-list">
					<div v-for="message in uiMessageStack.globalWarnings" class="q-item">
						<div class="q-item-main">
							<div class="q-item-label" >{{message}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="uiMessageStack.globalInfos && uiMessageStack.globalInfos.length > 0" class="q-card bg-info text-white col">
			<div class="q-card-main">
				<div class="q-list">
					<div v-for="message in uiMessageStack.globalInfos" class="q-item">
						<div class="q-item-main">
							<div class="q-item-label" >{{message}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-if="uiMessageStack.globalSuccess && uiMessageStack.globalSuccess.length > 0" class="q-card bg-positive text-white col">
			<div class="q-card-main">
				<div class="q-list">
					<div v-for="message in uiMessageStack.globalSuccess" class="q-item">
						<div class="q-item-main">
							<div class="q-item-label" >{{message}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>