<th:block th:fragment="modal(componentId, closeLabel, srcUrl, iframe_attrs, modal_attrs)" 
	  th:assert="${componentId} != null and ${closeLabel} != null"
	  th:attr="objectKey=${model.vContext['componentStates'].addComponentState(componentId).addPrimitive('opened', false)}, objectKey=${model.vContext['componentStates']['__${componentId}__'].addPrimitive('srcUrl', srcUrl?:'')}" >
	<q-modal th:v-model="|componentStates.${componentId}.opened|"
			th:attr="__${modal_attrs}__">
		<q-modal-layout>
			<vu:content>
			<iframe th:v-bind:src="|componentStates.${componentId}.srcUrl|" th:attr="__${iframe_attrs}__"></iframe>
			<q-toolbar slot="footer">
			    <q-btn color="primary" th:@click="|componentStates.${componentId}.opened = false|" th:label="${closeLabel}" ></q-btn>
		    </q-toolbar>
		    </vu:content>
	    </q-modal-layout>
  	</q-modal>
</th:block> 