<th:block th:fragment="page(content, vuiDevMode, vuejsDevMode, vuiSsr, libraries_slot)"
	th:with="isVuiDevMode=${vuiDevMode != null ? vuiDevMode : false}, 
	isVuejsDevMode=${vuejsDevMode != null ? vuejsDevMode : false}, 
	isVuiSsr=${vuiSsr != null ? vuiSsr : false},
	pendingAction=${model.vContext['componentStates'].addComponentState('pendingAction').addList('actionNames')}">
	<div th:if="${!isVuiSsr}" id="page">
		<vu:content/>
	</div>
	<div th:if="${isVuiSsr}" id="page"></div>
    <vertigo-ssr th:if="${isVuiSsr}">
		<vu:content/>
	</vertigo-ssr>
	<script th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@2.5.5/dist/quasar.umd.prod.js}"></script>
    <script th:src="@{/vertigo-ui/static/3rdParty/cdn.jsdelivr.net/npm/quasar@2.5.5/dist/lang/__${model.util.getCurrentLocalePrefixForQuasar()}__.umd.prod.js}"></script>
	<script th:if="${!isVuiDevMode && !isVuejsDevMode}" th:src="@{/vertigo-ui/static/js/vertigo-ui.umd.min.js}"></script>
    <script th:if="${!isVuiDevMode && isVuejsDevMode}" th:src="@{/vertigo-ui/static/js/vertigo-ui.umd.js}"></script>
	<script th:if="${isVuiDevMode}" type="module" src="http://localhost:3000/@vite/client"></script>
	<script th:if="${isVuiDevMode}" type="module" src="http://localhost:3000/src/main.js"></script>
	<div vu:slot="libraries_slot" ></div>
	<vu:vue-data/>
	<script th:if="${isVuiSsr}" defer th:src="@{/vertigo-ui/static/js/vertigo-ui-mpa-ssr.js}"></script>
	<script th:if="${!isVuiSsr}" defer th:src="@{/vertigo-ui/static/js/vertigo-ui-mpa.js}"></script>
</th:block>