<th:block th:fragment="page(content)">
		
	<vu:content/>
	
	<script>
	  window.quasarConfig = {
	    loadingBar: { 'skip-hijack' : true } // disable quasar's ajaxbar
	  }
	</script>
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.18/dist/umd/quasar.mat.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quasar-framework@0.17.18/dist/umd/i18n.fr.umd.min.js"></script>
	<vu:vue-data/>
	<script th:src="@{/vertigo-ui/static/js/vertigo-ui.js}"></script>
	<script>
		Quasar.i18n.set(Quasar.i18n.fr)
		var data = {
				  vueData : vueData,
				  componentStates : componentStates,
				  dataX : VUiExtensions.dataX
			  };
		
		var demo = new Vue({
		  el: '#page',
		  data: data,
		  methods: Vue.util.extend(VUi.methods, VUiExtensions.methods ||  {}) 
		});

		// fixes wrong components states due to firefix bfcache (back-forward cache)
		//https://developer.mozilla.org/en-US/docs/Archive/Misc_top_level/Working_with_BFCache
		window.addEventListener('pageshow', function(event) {
			demo.$forceUpdate();
		});
	</script>
</th:block>