<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Test Vertigo Struts</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>io.vertigo.vega.impl.webservice.servlet.AppServletContextListener</listener-class>
	</listener>
	
	<!-- Paramètrage des variables du managers.xml -->
	<context-param>
		<param-name>boot.configXmlInterne</param-name>
		<param-value>/META-INF/application-config.xml</param-value>
	</context-param>

	<!-- Paramètrage des composants : assemblage de : - Dt de DtDefinitions; 
		- Managers de managers.xml - Services de demo-services.xml - Autres éléments 
		Task/MDM de execution.kpr -->
	<context-param>
		<param-name>boot.applicationConfiguration</param-name>
		<param-value>/testWebApp/META-INF/managers.xml;/testWebApp/META-INF/test-services.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.SetCharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Character Encoding Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>
			Filtre de modification des entétes HTTP pour gérer le cache.
			Désactive le cache navigateur et proxy sur toutes les URLs sauf les /static/* et /struts/*
		</description>
		<filter-name>client-no-cache</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.CacheControlFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>no-cache</param-value>
		</init-param>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>-1</param-value>
		</init-param>
		<init-param>
			<param-name>url-exclude-pattern</param-name>
			<param-value>/static/*;/struts/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>client-no-cache</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<description>
			Filtre de modification des entétes HTTP pour gérer le cache.
			Place un cache public (navigateur et proxy) de 24h sur les URLs /static/*
			Pour un site très grand public, voir à placer un cache plus long (15j => 1209600)
		</description>
		<filter-name>client-24h-cache</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.CacheControlFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=86400, public</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>client-24h-cache</filter-name>
		<url-pattern>/static/*</url-pattern>
	</filter-mapping>
	<filter>	
		<description>
			Filtre de sécurisation des URLs et de conservation des sessions.
			Limite l'accés aux URLs (sauf celles de url-exclude-pattern) aux utilisateurs authentifiés.
			Authentifié = isAuthentified true dans la UserSession.
		</description>
		<filter-name>Security Filter</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.SecurityFilter</filter-class>
		<init-param>
			<param-name>url-no-authentification</param-name>
			<param-value>/tutorial/*;/*Login.do;/ListAutocomplete.do;</param-value>
		</init-param>
		<init-param>
			<param-name>url-exclude-pattern</param-name>
			<param-value>/;/index.html;/static/*;/struts/*;/jsp/dev-*.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Security Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>
			Filtre pour fragments Ajax (extrait de la page les elements d'ids du header x-request-target).	
		</description>
		<filter-name>CropHtmlFilter</filter-name>
		<filter-class>io.vertigo.struts2.impl.servlet.CropHtmlFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>CropHtmlFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<description>
			Filtre pour les exports de table avec le displaytag.	
		</description>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>	
		<filter-name>Analytics Filter</filter-name>
		<filter-class>io.vertigo.vega.impl.servlet.filter.AnalyticsFilter</filter-class>
		<init-param>
			<param-name>url-exclude-pattern</param-name>
			<param-value>/;/index.html;/static/*;/struts/*;/jsp/dev-*.jsp</param-value>
		</init-param>	
	</filter>
	<filter-mapping>
		<filter-name>Analytics Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<description>Filtre Struts2.</description>
		<filter-name>Struts2 Filter</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Struts2 Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/jsp/application-error.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/jsp/application-error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/jsp/application-error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/application-error.jsp</location>
	</error-page>
</web-app>