<th:block th:fragment="agenda-delete-plage" vu:alias="agenda-delete-plage" vu:selector="${true}" 
    th:attr="objectKey=${model.vContext['componentStates'].addComponentState('confirmDeleteItemModal').addPrimitive('opened', false)} ">
    <q-dialog v-model="componentStates.confirmDeleteItemModal.opened" persistent v-if="componentStates.editedPlageHoraire">
      <q-card>
        <q-card-section class="row items-center">
           <span class="q-ml-sm">
               <div>
               Confirmer-vous la suppression de la plage horaire ?<br/>
               <b>{{ componentStates.editedPlageHoraire.dateLocale }} 
               de {{ formatMinutes(componentStates.editedPlageHoraire.minutesDebut) }} 
               à {{ formatMinutes(componentStates.editedPlageHoraire.minutesFin) }}</b>
               </div>
               <q-banner inline-actions class="bg-warning q-mt-lg" v-if="componentStates.editedPlageHoraire.nbReserve>0">
			      Il y a <b>{{componentStates.editedPlageHoraire.nbReserve}}</b> rendez-vous déjà réservé(s) sur cette plage horaire.<br/>
			      Si vous confirmez la suppression de cette plage, les rendez-vous ne seront pas supprimés et resteront visibles sur l'agenda.					      
			    </q-banner>
          </span>
        </q-card-section>
        <q-card-actions align="right" vu:slot="actions_slot">
               <q-btn label="Annuler" color="primary" outline v-close-popup ></q-btn>
               <q-btn label="Supprimer" color="primary" @click.stop.prevent="deletePlageHoraire(componentStates.editedPlageHoraire.plhId)" v-close-popup ></q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
</th:block>