<th:block th:fragment="button-submit(label, icon, color, text-color, action, ariaLabel, loading, other_attrs)"
      th:assert="(${label} != null or (${icon} != null and ${ariaLabel} != null)) and ${action} != null"
      th:with="myComponentId='button'+${action}, myLoading=${loading}?:true" >
    <q-btn type="submit" th:formaction="${action}" th:icon="${icon?:''}" th:label="${label?:''}" th:title="${ariaLabel?:''}" 
           th:@click="${myLoading}?|pushPendingAction('${action}')|:''" th::loading="${myLoading}?|isPendingAction('${action}')|:''" 
           th::round="${label==null?'true':''}" th:color="${color?:'primary'}" th:text-color="${#ctx.getVariable('text-color')?:''}" th:attr="__${other_attrs}__">
           <vu:content><span class="sr-only" th:if="${label==null}" vu:text="${ariaLabel?:''}"></span></vu:content>
    </q-btn>
</th:block>
<th:block th:fragment="button-submit-confirm(actions_slot, label, icon, color, text-color, action, ariaLabel, loading, formId, confirmMessage, labelOk, labelCancel, other_attrs)"
      th:assert="(${label} != null or (${icon} != null and ${ariaLabel} != null)) and ${action} != null and ${formId} != null"
      th:with="myComponentId='button'+${action},myLabelOk=${labelOk?:'Oui'},myLabelCancel=${labelCancel?:'Non'}, myLoading=${loading}?:true"
      th:attr="objectKey=${model.vContext['componentStates'].addComponentState(myComponentId).addPrimitive('confirm',false)}">
    <q-btn th:icon="${icon?:''}" th:label="${label?:''}" th:title="${ariaLabel?:''}"
           th:@click="|componentStates.${myComponentId}.confirm = true|"
           th::round="${label==null?'true':''}" th:color="${color?:'primary'}" th:text-color="${#ctx.getVariable('text-color')?:''}" th:attr="__${other_attrs}__">
         <span class="sr-only" th:if="${label==null}" vu:text="${ariaLabel?:''}"></span>
         <q-dialog th:v-model="|componentStates.${myComponentId}.confirm|" persistent>
          <q-card>
            <q-card-section class="row items-center">
            <vu:content>
              <span class="q-ml-sm" vu:text="${confirmMessage}"></span>            
            </vu:content>
            </q-card-section>
            <q-card-actions align="right" vu:slot="actions_slot">
              <q-btn flat th:label="${myLabelCancel}" color="primary" v-close-popup></q-btn>
              <q-btn type="submit" th:formaction="${action}" th:form="${formId}" th:label="${myLabelOk}" th:@click="${myLoading}?|pushPendingAction('${action}')|:''" th::loading="${myLoading}?|isPendingAction('${action}')|:''" color="primary" v-close-popup></q-btn>
            </q-card-actions>
          </q-card>
        </q-dialog>
    </q-btn>
</th:block> 