<th:block th:fragment="button(label, icon, color, text-color, title, v-title, other_attrs)"
      th:assert="(${label} != null or (${icon} != null and (${title} != null or ${vTitle} != null)))">
    <q-btn th:icon="${icon?:''}" th:label="${label?:''}" th:title="${vTitle==null?title?:'':''}" th::title="${vTitle?:''}" 
           th::round="${label==null?'true':''}" th:color="${color?:'primary'}" th:text-color="${textColor?:''}" th:attr="__${other_attrs}__">
           <vu:content><span class="sr-only" th:if="${label==null && vTitle==null}" vu:text="${title?:''}"></span>
           <span class="sr-only" th:if="${label==null && vTitle!=null}" th:text="|{{${vTitle?:''}}}|"></span></vu:content>
    </q-btn>
</th:block>