<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
    <title>FileUpload Demo</title> 
</head>

<body>
    <div layout:fragment="content">
        <vu:messages />
            <vu:form id="myFormId">
                <vu:block id="movie" title="#{movie.title.information}">
                       <vu:grid cols="3">
                       <vu:grid-cell>
                            <a th:href="@{/componentsDemo/myFiles}">insee.csv</a>
                        </vu:grid-cell>
                        <vu:grid-cell>
                            <vu:fileupload label="Upload file Mono" th:url="'@{/commons/upload}'" key="myFilesUriMono"  />  
                        </vu:grid-cell>
                        <vu:grid-cell>
                            <vu:fileupload-dropzone key="myFilesUris1">
                                <vu:fileupload label="Upload file" th:url="'@{/commons/upload}'" key="myFilesUris1" multiple />           
                            </vu:fileupload-dropzone>
                        </vu:grid-cell>                
                        <vu:fileupload-simple-object label="Simple upload file" th:url="'@{/commons/upload}'" object="myFilesUris3" multiple/>                            
                        <vu:fileupload-simple-object label="Movie pictures" th:url="'@{/commons/upload}'" object="movie" field="pictures" multiple/>                            
                        <vu:fileupload-simple-object label="Movie main picture" th:url="'@{/commons/upload}'" object="movie" field="mainPicture"/>                            
                        <vu:grid-cell>
                            <vu:button-submit th:if="${!model.modeReadOnly}" id="readActionList" label="Read" action="@{_read}" color="primary"/>
                            <vu:button-submit th:if="${model.modeReadOnly}" id="editActionList" label="Edit" action="@{_edit}" color="primary"/>
                            <vu:button-submit th:if="${!model.modeReadOnly}" id="saveFilesAction" label="Save Files Only" action="@{_saveFilesOnly}" color="primary" />
                        </vu:grid-cell>
                    </vu:grid>
                </vu:block>
            </vu:form>            
    </div>
    
</body>
</html>