<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
    <title>Modifiable Table Demo</title>                    
</head>

<body>
    <div layout:fragment="content">
        <vu:messages />
            <vu:form id="myFormId">
                <vu:table-modifiable list="moviesModifiable" componentId="movieModifiableTable" sortUrl="@{/movies/_sort}" >
                    <vu:column field="movId" >
                        <a th::href="|'@{/movie/}'+props.row.movId|" >{{props.row.movId}}</a>
                    </vu:column>
                    <vu:column field="title">
                        <vu:text-field object="moviesModifiable" field="title"/><br/>
                        <vu:text-area object="moviesModifiable" field="title"/>
                    </vu:column>
                    <vu:column field="released">
                        <vu:date object="moviesModifiable" field="released"/>
                    </vu:column>
                    <vu:column field="lastModified">
                        <vu:datetime object="moviesModifiable" field="lastModified"/>   
                    </vu:column>
                    <vu:column field="testBoolean">
                        <vu:checkbox object="moviesModifiable" field="testBoolean"/>   
                    </vu:column>
                    <vu:column field="movId">
                        <vu:select object="moviesModifiable" field="movId" list="movies" valueField="movId" labelField="title" />                        
                    </vu:column>
                    <vu:column field="mainPicture">
                        <vu:fileupload-simple-object th:url="'@{/commons/upload}'" object="moviesModifiable" field="mainPicture"/>
                    </vu:column>
                    <vu:column field="pictures">
                        <vu:fileupload-simple-object th:url="'@{/commons/upload}'" object="moviesModifiable" field="pictures" multiple/>
                    </vu:column>
                </vu:table-modifiable>
                
                   <table class="full-width q-table">
                    <caption></caption>
                    <thead>
                    <tr>
                        <th id="p1" class="text-left">movId</th>
                        <th id="p2" class="text-left">Text</th>
                        <th id="p2" class="text-left">Date</th>
                        <th id="p2" class="text-left">DateTime</th>
                        <th id="p2" class="text-left">Boolean</th>
                        <th id="p2" class="text-left">Year select</th>
                        <th id="p3" class="text-left">File</th>
                        <th id="p3" class="text-left">Files</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, itemStat : ${model.moviesModifiable}" th:with="modifiableTable=true, rowIndex=${itemStat.index}">
                        <td>
                            <a th:href="'@{/movie/}'+item.movId" vu:text="${item.movId}" ></a>
                        </td>
                        <td>
                            <vu:text-field object="moviesModifiable"  field="title"/><br/>
                            <vu:text-area object="moviesModifiable" field="title"/>
                        </td>
                        <td>
                            <vu:date object="moviesModifiable" field="released"/>
                        </td>
                        <td>
                            <vu:datetime object="moviesModifiable" field="lastModified"/>
                        </td>
                        <td>
                            <vu:checkbox object="moviesModifiable" field="testBoolean"/>
                        </td>
                        <td>
                            <vu:select object="moviesModifiable" field="movId" list="movies" valueField="movId" labelField="title" />
                        </td>
                        <td>
                            <vu:fileupload-simple-object th:url="'@{/commons/upload}'" object="moviesModifiable" field="mainPicture"/>                                                    
                        </td>
                        <td>
                            <vu:fileupload-simple-object th:url="'@{/commons/upload}'" object="moviesModifiable" field="pictures" multiple/>                                                    
                        </td>
                    </tr>
                    </tbody>
                </table>
                <vu:button-submit th:if="${!model.modeReadOnly}" id="saveActionList" label="Save (List)" action="@{_saveList}" color="primary" />              
                <vu:button-submit th:if="${!model.modeReadOnly}" id="readActionList" label="Read" action="@{_read}" color="primary"/>
                <vu:button-submit th:if="${model.modeReadOnly}" id="editActionList" label="Edit" action="@{_edit}" color="primary"/>
            </vu:form>
    </div>
</body>
</html>