<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui">
<head>
<meta charset="ISO-8859-1">

<title>My</title>
</head>
<body>
   <h1>MyController</h1>
   <h1>Form</h1>
   <p vu:text="${uiMessageStack.objectFieldErrors}"></p>
   <form action="#" th:action="@{/my/}" th:object="${model}" method="post">
  		 <p>Id 1: <input type="text" th:field="*{vContext[movie][movId]}" /></p>
  		 <p vu:text="${model.vContext[movie][title]}"></p>
      <!--   <p>Title: <input type="text" th:field="*{vContext[movie][title]}" /></p> -->
         <p>Id 2: <input type="text" th:field="*{vContext[movie2][movId]}" /></p>
        <p><input type="submit" value="Submit" />
   		<input type="hidden" name="CTX" th:value="${model.vContext[CTX]}">
   		<vu:valid-input label="testLabel" field="[movie][movId]"/>
   		<vu:include-data object="movie" field="'*'"/>
   		<vu:vue-data/>
   </form>
</body>
</html>