<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
  xmlns:vu="https://vertigo.io/thymeleaf/vertigo-ui"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{templates/mmcLayout}"
>

<head>
    <title>Movie Detail</title>
    <script type="text/javascript" th:src="@{/vertigo-ui/static/js/vertigo-ui-extensions.js}"></script>
</head>

<body>
    <div layout:fragment="content">     
            <vu:form>
                <vu:block id="movie" title="Movie Information">
                     <vu:include-data object="movie" field="*" />
                       <vu:grid>
                        <vu:text-field :class="{'v-field__required':true}" object="movie" field="movId"/>
                        <vu:text-field :class="{ disabled: true && false || false }" object="movie" field="movId"/>
                        <vu:text-field object="movie" field="movId" anotherAttr="() {dataX.join(';') || && __ } ${notEvaluate}"/>
                        <vu:text-field-read :class="{'v-field__required':true}" object="movie" field="movId"/>
                        <vu:text-field-read :class="{ disabled: true && false || false }" object="movie" field="movId"/>
                        <vu:text-field-read object="movie" field="movId" anotherAttr="() {dataX.join(';') || && __ } ${notEvaluate}"/>
                        <vu:text-field-read object="movie" field="movId" :anotherAttr="$q.screen.md"/>
                        <vu:text-field @myEvent="test();" object="movie" field="movId"/>
                        <vu:text-field input_@myEvent="test();" object="movie" field="movId"/>
                        <vu:date object="movie" field="released" date_:options="function(date) {return date >= '2021/08/01' && date <= '2021/08/15'}"/>
                        
                        <vu:text-field th:v-if="'vueData.movie.movid === '+${model.movie.movId}+' || '+${model.movie.movId eq '1000'} " object="movie" field="movId"/>
                        <vu:text-field th:v-if="${'vueData.movie.movid === '+model.movie.movId+' || '+(model.movie.movId eq '1000')}" object="movie" field="movId"/>
                        
                        <vu:text-field th:@click="|alert('@{/movie/__${model.movie.movId}__}')|" object="movie" field="movId"/>
                   
                    </vu:grid>
                </vu:block>             
            </vu:form>
    </div>
</body>
</html>